@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font-size: 12px;
	color: #000;
	line-height: 20px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #2e2b29;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/*  PC site
 ------------------------------------------------ */
.fl {
	float: left;
}
.fr {
	float: right;
}
.mn {
	margin: 0 !important;
}
.mr10 {
	margin-right: 10px;
}
.whole-wrap{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.wrapper {
	width: 1188px;
	height: auto;
	margin: 0 auto;
}
.wrapper-inner {
	width: 100%;
	margin: 0px auto;
	padding: 0 24px;
}
/*  header
 ------------------------------------------------ */
header {
	width: 100%;
}
.had-sec01 {
	width: 100%;
	background-color: #2e2b29;
	padding: 8px 0;
}
.had-sec01-txt01{
	width: auto;
	float: left;
	font-size: 11px;
	color: #ffffff;
	padding: 0 5px;
}
.had-sec01-slt {
	width: 90px;
	height: 23px;
	float: left;
}
.had-sec01-txt02 {
	font-size: 12px;
	color: #ffffff;
	float: right;
}
.had-sec02 {
	margin-top: 15px;
}
.had-sec02-left {
	width: 248px;
	float: left;
	padding-top: 15px;
}
.had-sec02-right {
	width: 277px;
	float: right;
}
.had-sec02-right-p1 {
	width: 225px;
	float: right;
}
.had-sec02-right-p1 li {
	width: auto;
	float: left;
	margin-left: 30px;
}
.had-sec02-right-p1 li img {
	float: left;
}
.had-sec02-right-p1 li p {
	font-size: 14px;
	color: #2e2b29;
	width: auto;
	float: left;
	padding: 3px 0 0 3px;
}
.had-sec02-right-p2 {
	width: 100%;
	float: left;
	border: 1px solid #cccccc;
	margin-top: 15px;
}
.had-sec02-right-p2 input {
	width: 228px;
    float: left;
    color: #888888;
    font-size: 15px;
    height: 34px;
    border: none;
    line-height: 34px;
    padding-left: 10px;
	outline: 0;
}
.had-sec02-right-p2 img {
	width: 38px;
	float: left;
}

/*  logo bar
 ------------------------------------------------ */
 .logo-bar{
	width: 100%;
	padding: 10px 0;
	background: #2e2b29;
}
.logo-bar ul {
	width: 590px;	
	float: right;
}
.logo-bar ul li{
	width: 94px;
	text-align: center;
	border-left-width: 1px;
	float: left;
	background-image: url(../img/dotted.png);
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}
.logo-bar ul li:last-child{
	width: 214px;
}

.logo-bar ul li p{
	font-size: 10px;
	color: #fff;
	text-align: center;
}
.logo {
	padding-top: 5px;
}
/*  search box
 ------------------------------------------------ */
#search-text-input{
    float: left;
    height: 17px;
    margin: 8px 0 0 14px;
    outline: 0;
    padding: 4px 0 4px;
    width: 130px; 
}
  
#button-holder{
    background-color:#767371;
    cursor:pointer;
    float:left;
    height:28px;
    margin:8px 0 0 0;
    text-align:left;
    width:66px;
}
  
#button-holder img{
	float: left;
	margin: 5px 0 0 7px;
}
#button-holder p{
	font-size: 12px;
	float: left;
	margin: 5px 0 0 5px;
}
/*  Navi
 ------------------------------------------------ */
nav {
	margin: 0px auto;
	background: #fff;
}
nav .nav {
	display: none;
	clear: both;
}

nav ul {
	width: 1188px;
	margin: 0 auto;
}
nav ul li {
	width: 95px;
	height: 40px;
	float: left;
	text-align: center;
}
nav ul li a {
    color: #666;
    display: block;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover, nav ul li a.active {
    border-bottom: 3px solid #323232;
    color: #323232;
}
.path{
	width: 100%;
	background: #f0f0f0;
}
.path p {
	font-size: 13px;
	padding: 20px 0 10px;
}
.path span {
	color: #1298ac;
}
/*  main
 ------------------------------------------------ */
.main{
	width: 100%;
	background: #f0f0f0;
	height: auto;
	min-height: 630px;
	margin: 0 auto;
}
.main .wrapper{
	background: #fff;
	min-height: 630px;
}
/*  aside
 ------------------------------------------------ */
.aside {
	padding: 0 24px;
	float: left;
	height: auto;
	margin: 20px 0;
}
.aside-myacc {
	width: 213px;
	border: 1px solid #dcdcdc;
	height: auto;
	margin-bottom: 15px;
}
.aside-myacc .title{
	background: #f0f0f0;
}
.aside-myacc .title p{
	font-size: 15px;
}
.aside-myacc .title img {
	float: left;
	padding-right: 5px;
}
.aside-myacc ul li {
	padding: 10px;
}
.aside-myacc ul li a {
	cursor: pointer;
	font-size: 13px;
}
.aside-myacc ul li a:hover, .aside-myacc ul li a.active {
    color: #d70000;
}
/*--aside-cart--*/
.aside-cart {
	width: 213px;
	border: 1px solid #dcdcdc;
	padding-bottom: 10px;
	clear: both;
}
.aside-cart-01 {
	width: 100%;
	float: left;
	background-color: #f0f0f0;
	padding: 9px 0 7px 0;
}
.aside-cart-01 img {
	width: auto;
	float: left;
	padding: 0 4px 0 9px;
}
.aside-cart-01 p {
	width: auto;
	font-size: 14px;
	color: #2e2b29;
}
.aside-cart-02 {
	width: 100%;
	float: left;
}
.aside-cart-02 .fst-sent, .aside-cart-02 .snd-sent {
	width: 194px;
	margin: 0 auto;
	padding: 5px 0 0;
}
.aside-cart-02 .fst-sent span {
	padding: 0 3px;
	color: #1298ac;
}
.aside-cart-02 .snd-sent span {
	color: #950513;
	font-weight: bold;
}
.cart-btn {
	width: 110px;
	height: 35px;
	margin: 10px auto;
	text-align: center;
	background: #ff6c00;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.cart-sec-title {
	height: auto;
	text-align: left;
	font-size: 14px;
    color: #2e2b29;
    letter-spacing: 1px;
	padding: 10px 3px;
	margin: 0 5px;
	background: #f6f6f6;
}
.cart-sec-left{
	width: 64px;
	height: 64px;
	margin: 10px;
	float: left;
	background: #636363;
}
.cart-sec-right{
	float: left;
}
.cart-sec-right ul {
	margin: 10px 0;
}
.cart-sec-right ul li {
	padding: 3px 0;
}
.cart-sec-right span {
	font-weight: bold;
	color: #950513;
}
.cart-sec-right ul li a {
	cursor: pointer;
	font-size: 13px;
	color: #1298ac;
}

/*--aside-news-*/
.aside-news {
	width: 213px;
	border: 1px solid #dcdcdc;
	margin-bottom: 15px;
}
.aside-news-header {
	width: 100%;
	float: left;
	background-color: #f0f0f0;
	padding: 9px 0 7px 0;
}
.aside-order p {
	font-size: 14px;
    background: #f0f0f0;
    padding: 10px;
}
.aside-news-header img {
	width: auto;
	float: left;
	padding: 0 4px 0 9px;
}
.aside-news-header p {
	width: auto;
	float: left;
	font-size: 14px;
	color: #2e2b29;
}
.aside-news-02, .aside-newsCate-02 {
	width: 100%;
	float: left;
	padding-bottom: 8px;
}
.aside-news-02 li, .aside-newsCate-02 li {
	width: 194px;
	margin: 0 auto;
	font-size: 13px;
	color: #2e2b29;
	line-height: 17px;
	padding: 10px 0 5px;
	border-bottom: 1px dotted #a5a5a5;
}
.aside-newsCate-02 li {
	border-bottom: none;
}
.aside-news-02 li:last-child {
    background-image: none;
}
.aside-news-02 li p{
	width: 85%;
}
.aside-news-02 li a, .aside-news-02-Lli a{
	color: #2e2b29;
	text-decoration: none;
}
.aside-news-02 li a h2, .aside-newsCate-02-Lli a h2{
	font-size: 12px;
	text-align: left;
}
.aside-news-02-Lli {
	border-bottom: none !important;
}
.aside-news-02-Lli h2 {
    float: left;
    color: #1298ac;
    margin-top: 10px;
}
.aside-news-02-Lli span {
    padding: 10px 15px;
    font-size: 13px;
    text-align: center;
    float: right;
    background: #e0e0e0;
}
.aside-newsCate-02-Lli {
	border-top: 1px solid #dcdcdc;
}
.result-Right-sec02 {
	width: 100%;
	padding: 14px 0 11px;
}
.aside-newsCate-02 li a{
	color: #323232;
    font-size: 12px;
    cursor: pointer;
}
.aside-newsCate-02 li a:hover, .aside-newsCate-02 li a.active{
    color: #d70000;
}
.aside-newsCate-02-Lli  a h2 {
    color: #1298ac;
}

/*--aside-Category--*/
.cate-search1{
	width: 213px;
	border: 1px solid #dcdcdc;
	margin-bottom: 15px;
}
.cate-search2{
	width: 170px;
	padding-left: 0 !important;
	margin-top: 0;
}
#menuwrapper {
    margin: 0 auto;
}
#menuwrapper ul li p {
    font-size: 16px;
    color: #fff;
    background: #949494;
    padding: 10px 0 10px 10px;
    text-align: left;
}
#menuwrapper ul{
    width:100%;
}
#menuwrapper ul li{
    background: #fff;
    border-bottom:solid 1px #f0f0f0;
}
#menuwrapper ul li:hover{
	position:relative;
}
#menuwrapper ul li a:hover{
	color: #d70000;
    text-decoration: underline;
}
#menuwrapper ul li.active{
    background: #eaeaea;
}
#menuwrapper ul li a{
    padding: 10px;
    color: #323232;
    font-size: 12px;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
}

/**** SECOND LEVEL MENU ****/
#menuwrapper ul li ul{
    position:absolute;
    display:none;
    z-index: 9999;
}

#menuwrapper ul li:hover ul{
    left:95%;
    top:-5px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    display:block;
    box-shadow: 3px 3px 3px #f1f1f1;
}
#menuwrapper ul li ul li{
   text-decoration:none;
   border-bottom: none;
}
#menuwrapper ul li ul li a{
    color:#454444;
    display:inline-block;
    width:60%;
}
/*--aside-progress--*/
.aside-progress {
	float: right;
	width: 215px;
	padding-top: 16px;
	display: block;
}
.aside-progress .aside-progress-detail {
	padding: 0 0 16px;
	border: 1px solid #dcdcdc;
}
.aside-progress .aside-progress-detail dt {
	padding: 12px 17px 12px;
	background-color: #f0f0f0;
	font-size: 14px;
}
.aside-progress .aside-progress-detail dd {
	margin: 0 11px 13px 11px;
	padding-top: 13px;
	border-top: 1px dotted #a5a5a5;
	font-size: 13px;
}
.aside-progress .aside-progress-detail .aside-progress-first {
	border-top: none;
}
.aside-progress .aside-progress-detail dd span {
	color: #71b7c4;
}
/*--aside-review--*/
.aside-review{
	width: 170px;
	margin-bottom: 15px;
	background: #fff;
}
.aside-review ul li {
	width: 100%;
}
.aside-review ul li p {
	width: auto;
	font-size: 16px;
    color: #fff;
    background: #949494;
    padding: 10px 0 10px 10px;
    text-align: left;
}
.aside-review ul li a {
	padding: 10px;
    color: #323232;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}
.aside-review ul li a:hover, .aside-review ul li a.active {
	font-weight: bold;
}
/*  aside-right
 ------------------------------------------------ */
 .aside-right {
	width: 167px;
	height: 300px; 	
	float: left;
	margin: 0 24px 0 10px;
	background: #fdf;
}
/*  copyright
 ------------------------------------------------ */
footer {
	display: block;
	width: 100%;
	background: #2e2b29;
	padding-top: 30px;
}
footer .inner {
	width: 1188px;
	margin: 0 auto;
	padding: 0 0 30px;
}
footer .inner span {
	display: inline-block;
	width: 225px;
	color: #d5d5d5;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #888786;
}
footer .inner ul li {
	float: none;
}
footer .inner ul li p {
	color: #d5d5d5;
	line-height: 30px;
    font-size: 15px;
}
footer .inner-sec {
	width: 225px;
	float: left;
	margin-right: 15px;
}
#copyright {
	width: 1188px;
	margin: 0 auto 20px;
}
#copyright p {
	width: auto;
	font-size: 12px;
	text-align: left;
	color: #d5d5d5;
	padding: 15px 0 20px;
	float: left;
}
.ft-copmany{
	float: right;
	width: auto;
	margin-right: 3px;
}
/*  Page top
 ------------------------------------------------ */
.top-arrow {
	width: 49px;
    height: 49px;
    display: block;
    cursor: pointer;
    float: right;
    margin: 0 15px 25px 0;
}
/*  check box
 ------------------------------------------------ */
 label {
 	font-size: 13px;
 	color: #2e2b29;
 }
 input[type="checkbox"] {
 	display: none;
 }
 input[type="checkbox"] + label::before {
 	width: 18px;
 	height: 18px;
 	line-height: 4px;
 	display: inline-block;
 	vertical-align: middle;
 	text-align: center;
 	content: url(../img/entry_check_img.png);
 	padding: 4px;
 	border-radius: 5px;
 	border: 1px solid #cccccc;
 	background: #ffffff;
 	margin: -3px 5px 0 0;
 	-webkit-transition: .1s;
 	transition: .1s;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	cursor: pointer;
 }
 input[type="checkbox"]:checked + label::before {
 	font-size: 25px;
 	background: #323232 !important;
 	color: #ffffff !important;
 	border: none;
 }
 .order-chk {
 		width: 100%;
 		clear: both;
 		padding: 15px 0 0;
 }
 .result-order li {		
 	padding: 10px 0;
    font-size: 12px;
    margin: 0 10px;
    clear: both;
 }	
 .result-order li:last-child {		
 	padding: 0 0 10px;
 }
 .save-btn {
 	padding: 10px;
 	background: #ff6c00;
 	float: right;
 	text-align: center;
    margin: 10px 0;
    font-size: 17px;
 }
 .save-btn a { 	
 	color: #fff;
 }