/*-------------------
tag css
----------------------*/

.tag-link li a {
    display: block;
    float: left;
    border: 1px solid #dcdcdc;
}

.tag-link li a {
    display: block;
    float: left;
    border: 1px solid #dcdcdc;
    padding: 14px 11px;
    margin-right: 15px;
}

.main-sec01.myacc-dash.tag p {
    margin: 13px 0;
}

.main-sec01.myacc-dash.tag.clearfix .menub {
    float: left;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding: 10px 8px;
    color: #1298ac;
    font-size: 13px;
    margin-right: 7px;
}

.main-tag {
    position: relative;
}

.tabs {
    position: absolute;
    top: 77px;
    width: 100%;
}

#top .tabs h3 {
	font-size: 14px;
    border-bottom: 0;
}

#top .tabs h3 img {
    width: 15px;
    margin: 0 6px -2px 1px;
}

#top .tabs h3 span {
    font-weight: bold;
}

.main-tag.clearfix .page-result.bottom.clearfix.pc {
    margin-top: 9px;
}

.tag-list table {
    width: 100%;
}

.tag-list img {

}

.tag-list table th,
.tag-list table td {
    vertical-align: middle;
}

.tag-list td:first-child {
    width: 14%;
}

.tag-list td:first-child img {
    width: 100%;
    height: auto;
}

.tag-list td:last-child {
    width: 17%;
    vertical-align: top;
}

.tag-list table th {
	text-align: left;
}

.tag-list table th {
    text-align: left;
    padding-left: 20px;
}

#top .tag-list table th .price {
    color: #950513;
    font-size: 15px;
}

.tag-list .cart a {
    background: #ff6c00;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 16px;
    box-sizing: border-box;
    background-image: url('../img/cart-left-img01.png');
    background-repeat: no-repeat;
    background-position: 9px 6px;
    margin-bottom: 15px;
}

.tag-list {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 18px;
    margin-bottom: 18px;
}