@media only screen and (max-width: 960px) {

	img {
	    width: 100%;
	    height: auto;
	}
	.main-sec01.myacc-dash {
	    margin-bottom: 0;
	}

	#top .main-sec02.myacc-dash {
	    margin-top: 20px;
	}

	.recent-order tbody > tr td:nth-child(5),
	.recent-order tbody > tr th:nth-child(5),
	.recent-order tbody > tr td:nth-child(3),
	.recent-order tbody > tr th:nth-child(3),
	.recent-order tbody > tr td:nth-child(2),
	.recent-order tbody > tr th:nth-child(2) {
	    display: none;
	}

	.recent-order tbody > tr td,
	.recent-order tbody > tr th {
		border-right: 1px solid #bebebe;
		border-left: 1px solid #bebebe;
	}

	#top .main-sec02.myacc-dash {
	    margin-bottom: 10px;
	}

	#top .main-sec03.myacc-dash {
	    margin-top: 10px;
	}

	.verification-flow {
	    padding: 20px 0px;
	}

	.verification-flow .clearfix {
	    width: 100%;
	}

	.verification-flow .clearfix div.step2 {
	    margin: 0 6.4%;
	}

	.verification-flow .clearfix > div.step3 {
	    float: right;
	}

	#top .main-sec03.myacc-dash p.to-identification a {
	    width: 241px;
	    color: #2e2b29;
	}

	.clearfix.line2 > div {
	    float: none;
	    width: 100%;
	    border-bottom: 1px solid #bebebe;
	    padding-bottom: 10px;
	    margin-bottom: 16px;
	}

	.myacc-dash {
	    margin-bottom: 20px;
	}

	.main-sec05.myacc-dash {
	    margin-top: 0;
	}

	.main-sec04.myacc-dash {
	    margin-bottom: 1px;
	}

	#top .main-sec05.myacc-dash h3 {
	    font-weight: bold;
	    font-size: 16px;
	}

	#top .myacc-dash h3 a {
	    display: block;
	    margin: 8px 0 0 0;
	    font-weight: normal;
	}

	.aside.sp {
	    width: 100%;
	    box-sizing: border-box;
	    padding: 0 10px;
	}

	.aside.sp > section {
	    width: 100%;
	}

	.aside.sp dt {
	    font-size: 15px;
	}

	.aside.sp dt .myacc-sec01-span {
	    float: right;
	}

	.aside.sp dd {
	    clear: both;
	}

	.aside.sp dt .myacc-sec01-span {
	    width: 21px;
	    float: right;
	    height: 3px;
	    background-color: #979797;
	    margin-top: 6px;
	}

	.aside.sp dt {
	    font-size: 15px;
	    padding: 10px;
	    background: #f0f0f0;
	}

	.aside.sp .aside-news-02.compare li {
	    width: 92%;
	    padding: 15px 0;
	}

	.aside-news.conpare.clearfix dl {
	    clear: both;
	}

	.aside-news.conpare.clearfix dl:first-child {
	    border-bottom: 1px solid #dcdcdc;
	}
/*---------------------------
	NEWS SP
------------------------------*/

	.news-single {
	    margin-bottom: 0;
	}

	.news-single h1 {
	    font-size: 16px;
	    border-bottom: none;
	    margin-bottom: 0;
	}

	.news-date p {
	    color: #2e2b29;
	    margin-bottom: 10px;
	}

	#news-detail .result-Left h1 {
	    font-size: 20px;
	}

	#news-detail {
	    width: 92%;
	}

	#news-detail .recent-post h2 {
	    font-size: 14px;
	}

	.btn-back-submit a.back {
	    display: none;
	}

	.btn-back-submit table td:last-child a.save {
	    width: 100%;
	    box-sizing: border-box;
	}

	#top .main-sec02.letter h2 {
	    display: none;
	}

	#top .main-sec02.letter p {
	    font-size: 15px;
	    border-bottom: none;
	    padding: 0;
	}

	#top .main-sec02.letter {
	    padding: 14px 10px;
	}
/*---------------------------
	review SP
------------------------------*/
	.review-list .sp {
	    font-size: 19px;
	    text-align: center;
	    margin: 25px 0;
	    color: #2e2b29;
	}

	.review-list table td {
	    display: block;
	    width: 100%;
	    border: none;
	    border-bottom: 1px solid #cecece;
	    text-align: left;
	    padding-left: 10px;
	    box-sizing: border-box;
	}

	.review-list table td.content {
	    width: 100%;
	    padding-left: 10px;
	}

	.review-list table td.more-detail {
	    text-align: right;
	    padding: 19.5px 0;
	}

	.back-link {
	    display: none;
	}

	.review-list table td.more-detail dd {
	    border-top: 1px solid #cecece;
	    padding-top: 16px;
	    margin-top: 16px;
	    text-align: left;
	}

	.review-list table td.more-detail .accordion span {
	    color: #1298ac;
	    margin-right: 10px;
	}

	.review-list table td.more-detail dd span {
	    color: #ee0000;
	    margin-right: 10px;
	    float: right;
	}

	.review-list table td.more-detail dd h3 {
	    font-size: 15px;
	    text-align: left;
	    border-bottom: 1px solid #cecece;
	    padding: 10px;
	}

	.review-list table td.more-detail dd img {
	    border: 1px solid #cecece;
	    box-sizing: border-box;
	    border-left: none;
	    border-right: none;
	    margin-top: 16px;
	}

	.review-list table td.more-detail dd h4 {
	    padding: 10px;
	}

	.review-list table td.more-detail dd p {
	    padding: 0 10px;
	}

	#top .main-sec01.order {
	    border: none;
	}

	.sp.result {
	    text-align: right;
	    background-image: url('../img/icon_arrow02.png');
	    background-repeat: no-repeat;
	    background-position: right;
	    background-size: 28px;
	    padding-right: 41px;
	    clear: both;
	}

	#top .main-sec02.order .recent-order th {
	    padding: 12px;
	    border-left: none;
	    border-right: none;
	}

	#top .main-sec02.order .recent-order td {
	    border-left: none;
	    border-right: none;
	}

	#top .main-sec02.order .recent-order td:first-child,
	#top .main-sec02.order .recent-order th:first-child {
	    border-left: 1px solid #bebebe;
	}

	#top .main-sec02.order .recent-order td:last-child,
	#top .main-sec02.order .recent-order th:last-child {
	    border-right: 1px solid #bebebe;
	}

	#top .main-sec02.order tr td:nth-child(4) {
	    color: #950513;
	}

/*---------------------------
	address SP
------------------------------*/

	#top .address .edit-delete,
	#top .main-sec02.address .right,
	#top .main-sec02.address .left,
	#top .main-sec02.address .left p {
	    border: none;
	}

	#top .main-sec02 .add-info p {
	    border: none;
	    line-height: 9px;
	}
/*---------------------------
	cart-thanks14, SP
------------------------------*/
	.thanks-text {
	    line-height: 24px;
	    font-size: 14px;
	}

	.continue-btn a {
	    width: 99%;
	    box-sizing: border-box;
	}
}