
a {
    color: #1298ac;
}

p {
	font-size: 13px;
}

/*---------------------------
	myacc dashbord
------------------------------*/

.aside-myacc .title {
    font-size: 14px;
    background: #f0f0f0;
    background-image: url('../img/myacc/user.png');
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 38px;
}

.aside-myacc .title p {
    font-size: 14px;
    color: #2e2b29;
}

#top .main-sec01.myacc-dash {
    border-bottom: 0;
    margin-top: 0;
    padding-top: 20px;
}

#top .main-sec01.myacc-dash h1 {
    float: none;
}

#top .main-sec01.myacc-dash h2 {
    border-bottom: none;
    font-size: 16px;
    font-weight: bold !important;
    margin: 25px 0 15px;
    padding: 0;
}

#top .main-sec01.myacc-dash p {
    font-size: 13px;
}


#top .main-sec02.myacc-dash h2 {
    font-size: 18px;
    color: #2e2b29;
}

#top .main-sec02.myacc-dash {
    padding-top: 0;
    margin-top: 54px;
}

#top .main-sec02.myacc-dash h2 a {
    color: #1298ac;
    font-size: 13px;
    margin-left: 17px;
}

.recent-order {
    width: 100%;
    border: 1px solid #bebebe;
    border-left: none;
    border-right: none;
    font-size: 13px;
    color: #2e2b29;
    margin-top: 10px;
}

.recent-order td {
    text-align: center;
    vertical-align: middle;
}

#top .recent-order th {
    padding: 18.5px 0;
}

.recent-order td,
.recent-order th {
    padding: 11px 0;
}

.recent-order tr:first-child {
    background: #f0f0f0;
    border-bottom: 1px solid #bebebe;
}

.recent-order tr:first-child th:first-child {
    width: 15%;
}

.recent-order tr:first-child th:nth-child(2) {
    width: 14.5%;
}

#top .recent-order td.address,
#top .recent-order tr:first-child th:nth-child(3) {
    text-align: left;
    padding-left: 20px;
}

.recent-order tr:first-child th:nth-child(4) {
    width: 10.7%;
}

.recent-order tr:first-child th:nth-child(5) {
    width: 15%;
}


.recent-order tr:first-child th:last-child {
    width: 16.5%;
}

.recent-order a {
    color: #1298ac;
    line-height: 20px;
}

.recent-order tr:nth-child(2) {
    border-bottom: 1px solid #bebebe;
}

#top .main-sec03.myacc-dash {
    margin-top: 48px;
}

#top .myacc-dash h3 {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

#top .main-sec03.myacc-dash p {
    font-size: 13px;
    color: #2e2b29;
}

.verification-flow {
    box-sizing: border-box;
    padding: 36px;
}

.verification-flow .clearfix {
    width: 404px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.verification-flow .clearfix > div {
    float: left;
    width: 27%;
    border: 1px solid #bebebe;
    background: #f0f0f0;
    padding: 10px 2px;
    z-index: 2;
    position: relative;
}

.verification-flow .clearfix div.step2 {
    margin: 0 29px;
}

.verification-flow .clearfix > div p {
    text-align: center;
    letter-spacing: 1px;
}

.verification-flow .clearfix .background-border {
    border-top: 1px solid #bebebe;
    position: absolute;
    width: 99%;
    top: 50%;
    left: 0;
    z-index: 0;
}

#top .main-sec03.myacc-dash p span {
    color: #ff6c00;
}

#top .main-sec03.myacc-dash .verification-flow .attention-red {
    text-align: center;
    color: #d70000;
    font-size: 16px;
    margin: 22px 0;
}

#top .main-sec03.myacc-dash p.to-identification {
    text-align: center;
}

#top .main-sec03.myacc-dash p.to-identification a {
    background: #e0e0e0;
    padding: 15px 0;
    width: 29%;
    display: block;
    margin: 0 auto;
}

.clearfix.line2 > div {
    float: left;
    width: 50%;
}

.myacc-dash h4 {
    font-weight: bold;
    font-size: 16px;
}

.myacc-dash {
    margin: 40px 0;
    clear: both;
}

.clearfix.line2 h4 {
    margin: 10px 0 10px 0;
}

.myacc-dash a {
    color: #1298ac;
    font-size: 13px;
}

.clearfix.line2 p {
    font-size: 13px;
}

.contact-info {
    margin-top: 20px;
}

#top .myacc-dash h3 a {
    margin-left: 15px;
}

.aside-order-01,
.aside-compare-header {
    width: 100%;
    float: left;
    background-color: #f0f0f0;
    padding: 9px 0 7px 19px;
    box-sizing: border-box;
}

.aside-order-01 p,
.aside-compare-header p {
    font-size: 14px;
}

.aside-news-02 li p {
    padding: 0 7px 0;
    padding-right: 32px;
}

.aside-news.conpare.clearfix {
    margin-top: 20px;
}

.aside-news-02.compare .compare {
    display: block;
    float: right;
    background: #e0e0e0;
    color: #2e2b29;
    padding: 9px 21px;
}

.aside-news-02.compare table {
    width: 100%;
}

.aside-news-02.compare table td {
    vertical-align: middle;
}

.aside-news-02.compare li {
    position: relative;
}

.aside-news-02.compare li a {
    position: absolute;
    right: 1px;
    top: 38%;
}

.aside-news-02.compare li.aside-news-02-Lli.clearfix a {
    position: static;
}

.aside-order-02 {
    clear: both;
    box-sizing: border-box;
    padding: 10px;
}

.aside-order-02 p {
    font-size: 13px;
    margin-bottom: 9px;
}

.aside-order-02 table {
	width: 100%;
}

.aside-order-02 table a {
    color: #1298ac;
    font-size: 13px;
}

.aside-order-02 p.order-items {
    background-image: url('../img/myacc/check.jpg');
    background-repeat: no-repeat;
    padding-left: 28px;
    background-position: 1px;
}

.aside-order-02 .compare {
    display: block;
    background: #e0e0e0;
    text-align: center;
    color: #2e2b29;
    padding: 14px 0;
}

.aside-order-02 table {
    width: 100%;
    margin-top: 20px;
}

/*---------------------------
	NEWS
------------------------------*/

.aside-newsCate-02 li a {
    color: #3399cc;
    font-size: 13px;
    cursor: pointer;
}

.aside-newsCate-02.tag li:first-child a {
    margin-right: 10px;
}

#news-detail .result-Left h1 {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #dad6d6;
    padding-bottom: 13px;
}

.aside-news-header h3 {
    font-size: 14px;
    padding: 3px 0 3px 11px;
}

#news-detail .result-Left-sec01 {
    float: none;
}

#news-detail .recent-post {
    border-bottom: 1px solid #dad6d6;
    padding-bottom: 17px;
    margin-top: 17px;
}

#news-detail .recent-post h2 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

#news-detail .recent-post p {
    font-size: 13px;
}

#news-detail .recent-post p a {
	color: #3399cc;
}

#news-detail .recent-post p a {
    color: #3399cc;
    margin-left: 10px;
}

.displayed-result.clearfix {
    background: #f4f4f4;
    box-sizing: border-box;
    padding: 0 11px 7px;
    margin-top: 32px;
}

#news-detail .result-Left-sec01-txt {
	width: 230px;
}

#news-detail .result-Left-sec01-txt h3 {
    font-weight: bold;
}

#news-detail .result-Left-sec01-txt01 {
    margin-right: 9px;
}

#news-detail .result-Left-sec01-txt01 span{
    font-weight: normal;
}

#news-detail .result-Left-sec01-txt h3 span {
    font-weight: normal;
    margin-left: 8px;
}


/*---------------------------
	NEWS-deetail
------------------------------*/

#news {
    box-sizing: border-box;
    padding: 21px 24px;
}

.news-single {
    margin-bottom: 16px;
}

.news-single h1 {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #dad6d6;
    padding-bottom: 13px;
}

.news-single02 p {
    font-size: 14px;
    margin-bottom: 16px;
}

.news-single02 .back_btn a {
    color: #3399cc;
}

/*---------------------------
	news-letter 
------------------------------*/

#top .main-sec02.letter {
    border: 1px solid #d9d9d9;
    background: #f0f0f0;
}

#top .main-sec02.letter {
    border: 1px solid #d9d9d9;
    background: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 4%;
}

#top .main-sec02.letter h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#top .main-sec02.letter p {
    font-size: 13px;
}

.btn-back-submit table {
    width: 100%;
}

.btn-back-submit a {
    color: #1298ac;
    font-size: 14px;
}


.btn-back-submit table td:last-child {
    text-align: right;
}

.btn-back-submit table td:last-child a.save {
    background: #ff6c00;
    display: block;
    float: right;
    width: 20%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 11px 20px;
}

.btn-back-submit table td {
    vertical-align: middle;
}

/*---------------------------
	myaccount item review
------------------------------*/
#top .main-sec01.myacc-review h1 {
    float: none;
    width: 100%;
}

#top #news-detail .result-Left-sec01-txt {
    width: 133px;
}

#top #news-detail .result-Left h1 {
    border-bottom: none;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 6px;
}

.review-list {
    clear: both;
}

.review-list table {
    width: 100%;
    border: 1px solid #cecece;
    font-size: 13px;
}

#review .result-Left-sec01-in {
    margin: 0 0 25px 0;
}

.review-list table td {
    width: 12.5%;
    text-align: center;
    border-right: 1px solid #cecece;
    padding: 19.5px 0;
}

.review-list table td.content {
    width: 63%;
    text-align: left;
    padding-left: 13px;
}

.review-list table td.more-detail {
	border: none;
}

.page-result.bottom.pc {
    margin-top: 8%;
    border-bottom: 1px solid #cecece;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.page-result.bottom.pc .result-Left-sec01-txt {
    float: right;
}

.page-result.bottom.pc .result-Left-sec01-txt {
    float: right;
    width: 133px;
}

.page-result.bottom.pc .result-Left-sec01-txt h3 {
    float: left;
    font-size: 14px;
}

.page-result.bottom.pc .result-Left-sec01-txt select {
    background: transparent;
    width: 100%;
    border: 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: "Kozuka Gothic Pr6N";
}

.page-result.bottom.pc .result-Left-sec01-txt .result-Left-sec01-txt01 {
    width: 52px;
    float: right;
    margin-top: -7px;
    margin-right: 10px;
}

.back-link a {
    font-size: 13px;
}

/*---------------------------
	order 
------------------------------*/

#top .main-sec02.order {
    padding-top: 3px;
    margin-bottom: 6%;
}

#top .main-sec01.order .page-result.bottom.clearfix {
    margin-top: 5%;
    margin-bottom: 0;
    border: none;
}

#top .main-sec02.order {
    padding-top: 3px;
}

#top .main-sec01.myacc-dash.address {
    margin-bottom: 0;
}

#top .main-sec02.address h3 {
    padding-top: 0;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    width: 92%;
    margin-bottom: 20px;
}

#top .main-sec02.address h4 {
    margin-bottom: 4px;
}

#top .main-sec02.address .left p {
    margin-bottom: 17px;
}

#top .main-sec02 p.edit-delete {
    margin-top: 6px;
}

.cart-thanks01 {
    text-align: center;
}

.cart-thanks01 h1 {
    font-size: 25px;
    margin: 20px 0;
}

.order-number {
    color: #1298ac;
}

.thanks-text {
    line-height: 33px;
    font-size: 15px;
}

.continue-btn a {
    background: #ff6c00;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 30px 0;
    padding: 16px;
    width: 19%;
    margin: 40px auto;
}

.continue-btn a .arrow {
    float: right;
}
