@media only screen and (max-width: 960px) {
	.tabs {
	    position: static;
	}

	.main-sec01.myacc-dash.tag.clearfix .menub {
	    margin: 6px 0;
	    float: none;
	}

	.tabs {
	    position: static;
	    margin-top: 20px;
	}

	.sp.result.tag {
	    border-bottom: 1px solid #bebebe;
	    padding-bottom: 8px;
	    margin-bottom: 21px;
	}

	.tag-list td:last-child {
	    display: block;
	    width: 100%;
	    clear: both;
	    text-align: center;
	}

	.tag-list table th {
	    display: block;
	    width: 67%;
	    float: right;
	}

	.tag-list td:first-child {
	    width: 27%;
	    display: block;
	    float: left;
	}

	#top .tabs h3 {
	    margin-bottom: 0;
	}

	.tag-list .cart a {
	    background-position: 32%;
	}
}