.pc {
	display: block;
}
.sp {
	display: none;
}
body {
	font-family: 'ヒラギノ角ゴ Pro W3';
}
/*--------------------------------------------------
 Horizontal vertical Slider
 ---------------------------------------------------*/
#prd-slider .sp-thumbnail-image-container {
	width: 51px;
	height: 51px;
	overflow: hidden;
	float: left;
}

#prd-slider .sp-thumbnail-image {
	height: 100%;
}
/*--------------------------------------------------
 myacc-confirm
 ---------------------------------------------------*/
.myacc-confirm {
 	width: 100%;
 	float: left;
 	padding: 36px 0 3px;
 }
.myacc-confirm-h1 h1 {
 	font-size: 22px;
 	color: #2e2b29;
 	width: 500px;
 	float: left;
 	padding: 0px 0px 20px 0px;
 }
 .myacc-confirm-sec1{
 	width: 900px;
 	margin: 0 auto;
 }
 .myacc-bg{
 	background: #f0f0f0;
 }
 .myacc-confirm-sec2{
 	padding: 25px 20px 20px 20px;
 }
 .myacc-confirm-txt1{
 	color: #fb6464;
 	float: right;
 }
 .myacc-confirm-h2{
 	font-size: 14px;
 	font-weight: bold;
 	color: #2e2b29;
 	padding: 0px 0px 15px 0px;
 }
 .myacc-confirm-sec2 p{
 	color: #757473;
 }
 .myacc-confirm-txt2{
 	padding: 0px 0px 30px 0px;
 }
 .myacc-confirm-txt3{
 	padding: 0px 0px 20px 0px;
 }
 .myacc-confirm-span{
 	color: #dc5252;
 }
 .myacc-confirm-btn{
 	width: 180px;
 	height: 40px;
 	background: #f5f5f5;
 	border: 1px solid #dcdcdc;
 	border-radius: 3px;
 }
 .confirm-img{
 	float: left;
 	padding: 0px 0px 0px 5px;
 }
 .myacc-confirm-sec3{
 	width: 74px;
 	height: 47px;
 	background: #ff6c00;
 	float: right;
 }
 .myacc-confirm-sec3 p{
 	text-align: center;
 	color: #fff7f4;
 	font-size: 16px;
 	padding: 13px 0px 0px 0px;
 }
 .myacc-confirm-ul1{
 	margin-top: 30px;
 }
 .myacc-confirm-ul2{
 	margin-top: 50px;
 }
 .myacc-confirm-ul1 li{
 	float: left;
 }
 .myacc-confirm-ul2 li{
 	float: left;
 }
 .myacc-confirm-li2{
 	font-size: 16px;
 	color: #71b7c4;
 }

.myacc-confirm-sec4{
	width: 145px;
	margin: 0 auto;
}
.myacc-confirm-li1{
	font-size: 18px;
 	color: #009619;
}
.myacc-confirm-txt4{
	font-size: 13px;
	color: #686767;
	margin: 30px 0px 0px 0px;
}
.myacc-confirm-sp{
	display: none;
}
.myacc-confirm-pc{
	display: block;
}
.myacc-con-last {
	width: 100%;
	padding: 10px 0;
}
.myacc-con-last .back-link{
	width: auto;
	float: left;
}
.myacc-con-last .save-btn{
	width: auto;
	float: right;
	margin: 0;
}

/*--------------------------------------------------
 myacc-wish-list
 ---------------------------------------------------*/
.wish-main {
	width: 901px;
	float: left;
}
.wish-Sec01-tit {
	width: 100%;
	float: left;
	font-size: 22px;
	color: #2e2b29;
	padding: 25px 0 10px;
}
.wish-tbl {
	width: 100%;
	float: left;
	border: 1px solid #dcdcdc;
	margin-top: 10px;
}
.wish-tbl tr {
	width: 100%;
}
.wish-tbl th {
	background-color: #f0f0f0;
	height: auto !important;
}
.wish-tbl td, .wish-tbl th {
	border-left: 1px solid #dcdcdc;
	text-align: center;
	font-size: 14px;
	color: #282625;
	float: left;
	padding: 10px 0;
	height: 195px;
}
.wish-tbl .wish-tbl-col1 {
	width: 160px;
	border-left: none;
}
.wish-tbl .wish-tbl-col2 {
	width: 283px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.wish-tbl .wish-tbl-col3 {
	width: 69px;
}
.wish-tbl .wish-tbl-col4 {
	width: 99px;
}
.wish-tbl .wish-tbl-col5 {
	width: 180px;
}
.wish-tbl .wish-tbl-col6 {
	width: 81px;
}
.wish-SpSec01-p01-img {
	width: 124px;
	float: none;
	border: none;
	margin: 0 auto;
}
.wish-SpSec01-p01-img img {
	max-width: 100%;
}
.wish-SpSec01-p01 p {
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 24px;
}
.wish-SpSec01-p01-b3 {
	width: 100%;
	float: left;
}
.wish-SpSec01-p01-b3 textarea {
	width: 100%;
	float: left;
	font-family: "Kozuka Gothic Pr6N";
	font-size: 13px;
	color: #282625;
	padding: 0;
	min-height: 85px;
	margin: 10px 0;
}
.wish-SpSec01-btn {
	font-size: 12px;
	width: 152px;
	float: right;
	background-color: #3e3c3b;
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
}
.wish-SpSec01-btn a {
	color: #ffffff;
}
.wish-SpSec01-p02-Up p input {
	text-align: center;
	width: 30px;
	padding: 5px 0;
}
.wish-SpSec01-p02-Up p span {
	color: #950513;
	font-size: 14px;
}
.wish-SpSec01-p02 {
	width: 100%;
	float: left;
	padding-bottom: 13px;
}
.wish-SpSec01-p02 h5 {
	width: 152px;
	float: none;
	height: 38px;
	margin: 0 auto 10px;
	background-color: #ff6c00;
	text-align: center;
	cursor: pointer;
}
.wish-SpSec01-p02 h5 p {
	padding: 0;
	line-height: 38px;
	color: #fff;
}
.wish-SpSec01-p02 h6 {
	width: 150px;
	float: none;
	margin: 0 auto;
	height: 36px;
	background-color: #f5f5f5;
	line-height: 18px;
	border: 1px solid #dcdcdc;
}
.wish-SpSec01-p02 h6 .wish-SpSec01-btn {
	background-color: transparent;
}
.wish-SpSec01-p02 h6 .wish-SpSec01-btn a {
	color: #6a6a6a;
}
.wish-tbl-col6 .Shopping-sec03-tbl-btn01 {
	margin: 0 auto;
	float: none;
}
.wish-SpSec02 li {
	width: 152px;
	float: right;
	margin: 10px 0 0 10px;
}
.wish-SpSec02 .wish-SpSec01-btn {
	padding: 13px 0 14px;
}
.wish-SpSec02-Fli .wish-SpSec01-btn {
	background-color: #ff6c00;
}

/*--------------------------------------------------
 myacc-orderdetail
 ---------------------------------------------------*/
#top .main {
	width: 900px;
	float: left;
	background-color: #ffffff;
}
.main-sec01 {
	width: 100%;
	float: left;
	padding: 36px 0 3px;
	border-bottom: 1px solid #bebebe;
}
.main-sec01 h1 {
	font-size: 22px;
	color: #2e2b29;
	width: 500px;
	float: left;
}
.main-sec01-right {
	width: 132px;
	float: right;
	padding-top: 9px;
	line-height: 23px;
}
.main-sec01-right li {
	width: auto;
	float: left;
	font-size: 13px;
	border-right: 1px solid #b2b2b2;
	padding-right: 7px;
}
.main-sec01-right li a {
	color: #1298ac;
	text-decoration: none;
}
#main-sec01-LastLi {
	border: none;
	padding: 0 0 0 7px;
}
#main-sec01-LastLi img {
	padding: 3px 8px 0 0;
	margin-bottom: -4px;
	display: inline-block;
}
.main-sec01 h2 {
	font-size: 18px;
	color: #2e2b29;
	width: 100%;
	float: left;
	padding-top: 20px;
}
.main-sec02 {
	width: 100%;
	float: left;
	padding-top: 14px;
}
.main-sec02-p1 {
	padding-bottom: 5px;
}
.main-sec02-p2 {
	width: 100%;
	float: left;
}
.main-sec02-p2 li {
	width: 50%;
	float: left;
	min-height: 125px;
}
.main-sec02-p2 h3 {
	width: 110px;
	float: left;
}
.main-sec02 .main-sec02-p2 p {
	width: auto;
	float: left;
	padding-top: 21px;
}
.main-sec02 h3, .main-sec03 h3 {
	font-size: 16px;
	color: #282625;
	font-weight: bold;
	padding-top: 21px;
}
.main-sec02 p {
	font-size: 13px;
	color: #282625;
	line-height: 17px;
	padding-top: 2px;
}
.main-sec03 {
	width: 100%;
	float: left;
}
.main-sec03 h3 {
	padding: 20px 0 5px;
	font-weight: normal;
	border-bottom: 1px solid #bebebe;
}
.main-sec03-tbl {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.main-sec03-tbl th, .main-sec03-tbl td {
	border-bottom: 1px solid #dcdcdc;
	padding: 8px 0;
}
.main-tblgrayrow {
	border-bottom: none;
	background-color: #f0f0f0;
}
.main-tblgrayrow td {
	border-bottom: none;
}
.main-tblLgrow td {
	padding: 20px 0;
}
.main-sec03-tbl td {
	font-size: 13px;
	text-align: center;
	vertical-align: top;
}
.main-sec03-tbl th {
	background-color: #f0f0f0;
	font-size: 14px;
	color: #282625;
	text-align: center;
}
.main-sec03-tbl .sec03-tbl-col01 {
	width: 52.28%;
	text-align: left;
	padding-left: 14px;
	line-height: 17px;
}
.sec03-tbl-col02 {
	width: 14.98%;
}
.sec03-tbl-col03 {
	width: 11.32%;
}
.sec03-tbl-col04 {
	width: 8.80%;
}
.sec03-tbl-col05 {
	width: 12.2%;
}
.main-sec03-tbl .sec03-tbl-col05-02 {
	color: #950513;
	text-align: right;
	padding-right: 8px;
}
.main-sec03-tbl .sec03-tbl-col01-02 {
	text-align: right;
	padding-right: 8px;
}
.main-sec03-p3 {
	width: 100%;
	float: left;
	padding-top: 16px;
}
.main-sec03-p3 a {
	font-size: 14px;
	color: #1298ac;
	text-decoration: none;
}
.main-sec03-p3 a img {
	padding-right: 10px;
}
/*--------------------------------------------------
 Product (index)
 ---------------------------------------------------*/
#product {
	background: none;
}
#product .product-main {
	width: 100%;
	float: left;
	background-color: #f0f0f0;
}
#product .product-sec01 {
	width: 1188px;
	margin: 0 auto;
}
#product .next {
	background: url(../img/product_sec01_Rarrow.png) no-repeat;
}
#product .next:hover {
	background: url(../img/product_sec01_Rarrow-h.png) no-repeat;
}
#product .prev {
	background: url(../img/product_sec01_Larrow.png) no-repeat;
}
#product .prev:hover {
	background: url(../img/product_sec01_Larrow-h.png) no-repeat;
}
#product .product-sec02UP {
	width: 1188px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 32px 0;
}
#product .jssor-6-col01 {
	width: 282px;
	float: left;
	background-color: #ffffff;
	background: url(../img/new-product.png) no-repeat;
	height: 84px;
}
#product .jssor-6-col01 p {
	font-size: 17px;
	color: #2e2b29;
	line-height: 84px;
	padding-left: 20px;
	width: auto;
	float: left;
}
#product .jssor-6-col02 {
	background: url(../img/yahoo.png) no-repeat;
}
#product .jssor-6-col03 {
	background: url(../img/rakuten.png) no-repeat;
}
#product .jssor-6-col04 {
	background: url(../img/amazon.png) no-repeat;
}
#product .product-sec02 {
	width: 1188px;
	margin: 0 auto;
}
#product .product-sec02-p1 {
	width: 100%;
	padding: 20px 0 25px;
}
#product .product-sec02-p1 h1 {
	font-size: 20px;
	color: #3f3833;
	text-align: center;
	font-weight: bold;
	line-height: 18px;
}
#product .product-sec02-p2 {
	width: 100%;
	margin: 0 auto;
}
#product .product-sec02-p2-in {
	width: 174px;
}
#product .product-sec02-p2 .product-sec02-p2-in-L {
	padding-right: 0;
}
#product .product-sec02-p2-in-01, #product .product-sec02-p2-in-02 {
	width: 100%;
	float: left;
}
#product .product-sec02-circle01, #product .product-sec02-circle02, #product .product-sec02-circle03, #product .product-sec02-circle04 {
	width: 31px;
	background-color: #ca9a0a;
	border-radius: 50%;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	padding: 8.5px 0;
	margin: 6px 0 0 5px;
	position: absolute;
}
#product .product-sec02-circle02 {
	background-color: #999797;
}
#product .product-sec02-circle03 {
	background-color: #825000;
}
#product .product-sec02-circle04 {
	background-color: #e8dede;
	color: #353535;
}
#product .product-sec02-p2-in-02 p {
	width: 156px;
	margin: 0 auto 6px;
	font-size: 13px;
	color: #282625;
	padding-top: 4px;
	line-height: 17px;
}
#product .product-sec02-p2-in-02 h2 {
	font-size: 15px;
	color: #950513;
	padding-top: 3px;
}
#product .product-sec02-New {
	width: 1188px;
	margin: 0 auto 25px;
}
#product .product-sec02-New li {
	width: 563px;
	height: 90px;
	float: left;
	padding: 26px 0 0 23px;
}
#product .product-sec02-New li h3 {
	font-size: 22px;
	color: #3f3833;
	font-weight: bold;
}
#product .product-sec02-New li p {
	font-size: 14px;
	color: #3f3833;
	line-height: 20px;
	padding-top: 8px;
	width: 100%;
	float: left;
}
#product .product-sec02-New li span {
	font-size: 13px;
	width: 100%;
	float: left;
	margin-top: 5px;
}
#product .product-sec02-New li span a {
	color: #0694c2;
}
#product .product-sec02-New-Li01 {
	background: url(../img/product_sec02_01-btn01.png) no-repeat;
}
#product .product-sec02-New .product-sec02-New-Li02 {
	background: url(../img/product_sec02_01-btn02.png) no-repeat;
	float: right;
}
#product .product-sec02-p2-in-p1 {
	float: left;
}
#product .product-sec03 {
	width: 100%;
	margin-top: 20px;
}
#product .product-sec03-No02 {
	margin-top: 0;
}
#product .product-sec03-p2 {
	width: 100%;
	float: left;
}
#product .product-sec03-p2-in {
	width: 174px;
	float: left;
	background-color: #ffffff;
	padding-bottom: 7px;
	margin-right: 17px;
}
#product .product-sec03-p2-in-in {
	width: 100%;
}
#product .product-sec03-p2-in-L {
	width: 100%;
}
#product .product-sec03-p2-in-02 h2 {
	padding-left: 10px;
}
#product .product-sec03-p2-in-01 {
	width: 152px;
	margin: 5px auto;
}
#product .product-sec03-p2-in-01-p1, #product .product-sec03-p2-in-p2 {
	width: 100%;
	float: left;
}
#product .product-sec03-p2-in-p2 li {
	width: 75px;
	float: left;
	text-align: center;
	border-right: 1px solid #cacaca;
}
#product .product-sec03-p2-in-p2 li a {
	width: 100%;
	float: left;
	color: #282625;
	text-decoration: none;
}
#product .product-sec03-p2-in-p2 li a p {
	font-size: 12px;
	margin-top: -3px;
	color: #3399cc;
}
#product .product-sec03-p2-in-p2 .product-sec03-p2-in-p2-Lli {
	border-right: none;
}
.addToCart-btn {
	width: 152px;
	height: 39px;
	line-height: 39px;
	color: #ffffff;
	font-size: 14px;
	background-color: #ff6c00;
	margin: 0 auto;
	text-align: center;
}
.addToCart-btn i {
	font-size: 20px;
	margin-right: 5px;
}
/*---- jssor slider Start ----*/
.jssorb03 {
	position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
	position: absolute;
	width: 21px;
	height: 21px;
	text-align: center;
	line-height: 21px;
	color: white;
	font-size: 12px;
	background: url('img/b03.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb03 div {
	background-position: -5px -4px;
}
.jssorb03 div:hover, .jssorb03 .av:hover {
	background-position: -35px -4px;
}
.jssorb03 .av {
	background-position: -65px -4px;
}
.jssorb03 .dn, .jssorb03 .dn:hover {
	background-position: -95px -4px;
}
.jssora03l, .jssora03r {
	display: block;
	position: absolute;
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url('img/a03.png') no-repeat;
	overflow: hidden;
}
.jssora03l {
	background-position: -3px -33px;
}
.jssora03r {
	background-position: -63px -33px;
}
.jssora03l:hover {
	background-position: -123px -33px;
}
.jssora03r:hover {
	background-position: -183px -33px;
}
.jssora03l.jssora03ldn {
	background-position: -243px -33px;
}
.jssora03r.jssora03rdn {
	background-position: -303px -33px;
}
/*---- jssor slider End ----*/
#product .product-sec05 {
	padding: 26px 0 30px;
	margin: 0 0 10px;
}
.topNotice {
	width: 1136px;
	margin: 0 auto;
	border: 1px solid #dad6d6;
	padding: 25px;
	background-color: #ffffff;
}
.topNotice li {
	width: 100%;
	float: left;
	border-bottom: 1px solid #dad6d6;
	padding: 15px 0;
	line-height: 20px;
}
.topNotice li h1 {
	font-size: 22px;
	color: #3f3833;
	text-align: center;
	font-weight: bold;
	margin-top: -10px;
}
.topNotice li h2 {
	font-size: 15px;
	color: #3f3833;
	font-weight: bold;
}
.topNotice li h3, .topNotice li p {
	font-size: 13px;
	color: #3f3833;
}
.topNotice li p {
	width: auto;
	float: left;
	display: none;
}
.topNotice li h4 {
	width: auto;
	float: left;
	padding-left: 10px;
	font-size: 13px;
	color: #3399cc;
}
.topRead-more01, .topRead-more02, .topRead-more03 {
	cursor: pointer;
}
.topNoti-Show {
	width: 100% !important;
}
/*--- Jssor css ---*/
#jssor_4, #jssor_1, #jssor_2, #jssor_3 {
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: -22px;
	width: 1235px;
	height: 360px;
	overflow: hidden;
	visibility: hidden;
}
#jssor_1, #jssor_2, #jssor_3 {
	left: 0;
}
#jssor_1, .jssor_1_in {
	height: 350px;
}
#jssor_2, .jssor_2_in {
	height: 340px;
}
#jssor_3, .jssor_3_in {
	height: 104px;
}
.jssor_4_in, .jssor_1_in, .jssor_2_in, .jssor_3_in {
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 1188px;
	height: 360px;
	overflow: hidden;
	margin-left: 25px;
}
.jssora03l, .jssora03r {
	display: block;
	top: 145px !important;
}
#jssor_3 .jssora03l, #jssor_3 .jssora03r, #jssor_6 .jssora03l, #jssor_6 .jssora03r {
	top: 34px !important;
}

/*--------------------------------------------------
 News Detail
 ---------------------------------------------------*/
#news-detail {
	width: 900px;
	float: left;
}
#news-detail .result-Left {
	width: 100%;
	float: left;
	margin-top: 15px;
}
#news-detail .result-Left-sec01-in span {
	width: auto;
	float: left;
	font-size: 16px;
	padding-top: 10px;
}
.detail-sec01 {
	width: 99.8%;
	height: auto;
	float: left;
	margin: 15px auto 0;
	border: 1px solid #dcdcdc;
}
.detail-sec01 .title {
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	background: #f0f0f0;
}
.detail-sec01-para {
	width: 99.8%;
	height: auto;
	float: left;
	padding-bottom: 10px;
}
.detail-sec01-para p {
	width: 82%;
	height: auto;
	float: left;
	padding: 20px 0 10px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.detail-sec01-para .btn-sec {
	width: auto;
	height: auto;
	float: left;
	padding: 11px 13px 0;
}
.detail-sec01-para .btn-sec span {
	display: inline-block;
	font-size: 14px;
	padding: 10px;
	color: #1298ac;
	border: 1px solid #1298ac;
}
.detail-sec01-para .btn-sec span a {
	color: #1298ac;
}
.detail-sec01 .plugin {
	width: 97%;
	margin: 0 auto;
	height: auto;
	clear: both;
	border-top: 1px solid #dcdcdc;
	padding: 10px 0;
}
.plugin p.detail-date {
	width: auto;
	padding-top: 2px;
	font-weight: bold;
	color: #4e4e4e;
	float: left;
}
/*--------------------------------------------------
 Search-result
 ---------------------------------------------------*/
#search-result {
	background-color: #f0f0f0;
}
#news-detail .result-main, .result-main {
	width: 900px;
	float: left;
	background-color: #fff;
	padding-top: 24px;
}
.result-Left {
	width: 727px;
	float: left;
}
#news-detail .result-Left-sec01, .result-Left-sec01 {
	width: 100%;
	float: left;
	padding-top: 10px;
}
#news-detail .result-Left-sec01 h1, .result-Left-sec01 h1 {
	font-size: 22px;
	color: #2e2b29;
	font-weight: bold;
}
#news-detail .result-Left-sec01-in h2, .result-Left-sec01-in h2 {
	font-size: 18px;
	color: #555555;
	font-weight: bold;
	width: auto;
	float: left;
}
#news-detail .result-Left-sec01-txt, .result-Left-sec01-txt {
	width: 178px;
	float: left;
	padding-left: 90px;
}
#news-detail .result-Left-sec01-txt h3, .result-Left-sec01-txt h3 {
	font-size: 14px;
	color: #2e2b29;
	width: auto;
	float: left;
}
#news-detail .result-Left-sec01-txt01, .result-Left-sec01-txt01 {
	width: 52px;
	overflow: hidden;
	background: url(../img/arrow.png) no-repeat right;
	float: left;
	margin-top: -7px;
}
#news-detail .result-Left-sec01-txt01 select, .result-Left-sec01-txt01 select {
	width: 100%;
	border: 0;
	font-size: 14px;
	font-family: "Kozuka Gothic Pr6N";
	background-color: #fff;
}
.result-Left-sec02 {
	width: 100%;
	float: left;
	background-color: #f0f0f0;
	margin-top: 15px;
}
.result-Left-sec02-p1 {
	width: 100%;
	float: left;
	padding: 13px 0 7px;
}
.result-Left-sec02-p1-b04 {
	width: auto;
	float: right;
	margin-top: -6px;
}
.result-Left-sec02-p1-b04 li {
	width: 32px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.result-Left-sec02-p1-b04 li a {
	color: #3399cc;
	width: 32px;
	float: left;
	padding: 6px 0;
}
.result-Left-sec02-p1-b04 li img {
	padding-top: 9px;
}
.result-Left-sec02-p1-b04 li a:hover, .result-Left-sec02-p1-b04-Active {
	background-color: #ffffff;
	color: #6b6a69 !important;
}
.result-Left-sec02-p1-L {
	width: auto;
	float: left;
	padding-left: 10px;
}
.result-Left-sec02-p1-L-arr {
	width: auto;
	float: left;
	padding-left: 10px;
}
.result-Left-sec02-p1-L h3 {
	width: auto;
	float: left;
}
.result-Left-sec02-p1-L-txt01 {
	width: 90px;
}
.result-Left-sec02-p1-R {
	width: 131px;
	float: left;
	padding-left: 30px;
}
.result-Left-sec02-p1-R h3 {
	width: auto;
	float: left;
}
.result-Left-sec02-p1-R ul {
	width: 51px;
	float: right;
	margin-top: -2px;
}
.result-Left-sec02-p1-R ul li {
	width: auto;
	height: 19px;
	float: left;
	border-right: 1px solid #d4d4d4;
	padding: 0 3px 0;
}
.result-Left-sec02-p1-R .result-Left-sec02-p1-R-Lli {
	border-right: none;
	padding-right: 0;
}
.result-Left-sec02-p2 {
	width: 100%;
	float: left;
	padding-top: 13px;
}
.result-Left-sec02-p2-in {
	margin-right: 3.5px;
}
.result-Left-sec02-p2 .result-Left-sec02-p2-in-L {
	margin-right: 0;
}
.grid .result-Left-sec03, .list .result-Left-sec03 {
	width: 100%;
	float: left;
	border-bottom: 1px solid #bebebe;
	padding-bottom: 14px;
}
.list .result-Left-sec03 {
	border-bottom: 0;
}
/*--List view--*/
.list .result-Left-sec03-rows {
	width: 100%;
	float: left;
	padding: 20px 0 16px;
	border-bottom: 1px solid #bebebe;
}
.list .result-Left-sec03-rows-L {
	width: 174px;
	float: left;
}
.list .result-Left-sec03-rows-R {
	width: 530px;
	float: left;
	padding-left: 19px;
	margin-top: -3px;
}
.list .result-Left-sec03-rows-R-txt01 {
	font-size: 13px;
	width: 300px;
	float: left;
}
.list .result-Left-sec03-rows-R-02 {
	float: right;
	padding-top: 0;
	margin: 0;
	text-align: right;
}
.list .result-Left-sec03-rows-R-02 h2 {
	font-size: 15px;
	color: #950513;
	padding-top: 3px;
}
.list .result-Left-sec03-rows-R-02 .product-sec03-p2-in-p2 {
	display: none;
}
.list .result-sec03-p2-in-Spp2 li a h4 {
	font-size: 13px;
}
.list .
.result-sec03-p2-in-Spp2 li a {
	color: #3399cc;
}
.list .result-sec03-p2-in-Spp2 li a h4 img {
	margin: 5px 5px -5px 0;
}
.list .result-sec03-TextForList {
	width: 300px;
	float: left;
	font-size: 13px;
	padding-top: 15px;
}
.list .result-sec03-TextForList a {
	text-decoration: none;
	color: #008dcf;
	padding-left: 3px;
}
/*--Grid view--*/
.grid .result-sec03-p2-in-Spp2 {
	display: none;
}
.grid .result-sec03-TextForList {
	display: none;
}
.grid .result-Left-sec03-rows {
	width: 174px;
	float: left;
	padding: 20px 0 16px;
	margin-right: 10px;
}
.grid .result-Left-sec03-rows-L {
	width: 174px;
	float: left;
	padding-bottom: 7px;
}
.grid .result-Left-sec03-rows-R {
	width: 87%;
	padding-left: 0;
	margin: 0 auto;
}
.grid .result-Left-sec03-rows-R p {
	font-size: 13px;
}
.grid .result-Left-sec03-rows-R h2 {
	font-size: 15px;
	color: #950513;
	padding-top: 3px;
}
.grid .result-Left-sec03-rows-R-02 {
	float: left;
	margin-top: 0;
}
.grid .result-Left-sec02-p2-in-L {
	margin-right: 0;
}
.result-Left-sec03-noresult-Up {
	width: 100%;
	float: left;
	font-size: 28px;
	color: #2e2b29;
	font-weight: bold;
	padding-top: 30px;
}
.result-Left-sec03-noresult {
	width: 100%;
	float: left;
	font-size: 18px;
	color: #555555;
	padding: 10px 0 54px;
}
.result-Right {
	width: 215px;
	float: right;
	padding-top: 16px;
}
.result-Right-sec02 {
	width: 100%;
	padding: 14px 0 11px;
	clear: both;
}
/*--------------------------------------------------
 Entry
 ---------------------------------------------------*/
#entry .entry-main {
	width: 1140px;
	padding: 24px;
	margin: 0 auto;
}
#entry .entry-Left {
	width: 901px;
	float: left;
}
#entry .entry-Left-sec01 {
	width: 100%;
	float: left;
}
#entry .entry-Left-sec01 h1 {
	font-size: 22px;
	color: #4d4c4c;
	padding-top: 8px;
}
#entry .entry-Left-sec01-list {
	width: 818px;
	margin: 27px auto;
}
#entry .entry-Left-sec01-list li {
	width: 126px;
	float: left;
	font-size: 15px;
	color: #4c4c4c;
	text-align: center;
	background-color: #f0f0f0;
	padding: 15px 0 14px 0;
	margin-right: 12px;
}
#entry .entry-Left-sec01-list li a {
	color: #4c4c4c;
}
#entry .disnon {
	display: none;
}
#entry .entry-Left-sec01-list li.select {
	background-color: #d70000;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#entry .entry-Left-sec01-list li.select a {
	text-decoration: none;
	color: #ffffff;
}
#entry .entry-Left-sec01-list li:hover, #entry .entry-Left-sec01-list .entry-Left-sec01-list-active {
	background-color: #d70000;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#entry .entry-Left-sec01-list li a:hover, #entry .entry-Left-sec01-list .entry-Left-sec01-list-active a {
	color: #ffffff;
}
#entry .entry-Left-sec01-list .entry-Left-sec01-list-Lli {
	margin-right: 0;
}
#entry .entry-Left-sec01-list-borderUP {
	width: 100%;
}
#entry .entry-Left-sec01-list-border {
	width: 814px;
	border-top: 1px solid #f0f0f0;
	margin: -42px auto;
}
#entry .entry-Left-sec02 {
	width: 100%;
	float: left;
	padding-top: 47px;
}
#entry .entry-Left-sec02 h2 {
	font-size: 18px;
	color: #2e2b29;
	border-bottom: 1px solid #bebebe;
	padding-bottom: 3px;
}
#entry .entry-Left-sec02 p {
	font-size: 13px;
	color: #4d4c4c;
	padding-top: 24px;
}
#entry .entry-Left-sec02-select {
	width: 700px;
	height: 39px;
	font-family: "Kozuka Gothic Pr6N";
	margin-top: 12px;
}
#entry .entry-Left-sec02-select option {
	font-size: 13px;
	color: #2e2b29;
}
#entry .entry-Left-sec03 {
	width: 852px;
	float: left;
	padding: 23px;
	background-color: #f0f0f0;
	border: 1px solid #d9d9d9;
	margin-top: 33px;
	border-radius: 3px;
}
#entry .entry-Left-sec03 h1 {
	font-size: 17px;
	color: #2e2b29;
	font-weight: bold;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 3px;
}
#entry .entry-Left-sec03-p2 {
	width: 100%;
	float: left;
}
#entry .entry-Left-sec03-p2 li {
	width: 100%;
	float: left;
	padding: 26px 0 20px 0;
	border-bottom: 1px solid #d9d9d9;
}
#entry .entry-Left-sec03-p2 li h4 {
	font-size: 15px;
	color: #2e2b29;
	padding: 3px 0 0 6px;
	width: 136px;
	float: left;
}
#entry .entry-Left-sec03-p2 li h4 span img {
	margin: 0 0 -5px 9px;
}
#entry .entry-Left-sec03-p2 li p {
	width: 710px;
	float: left;
	margin-top: -7px;
}
#entry .entry-Left-sec03-p2 li p input {
	font-size: 13px;
	color: #2e2b29;
	height: 39px;
	padding: 0 0 0 10px;
	font-family: "Kozuka Gothic Pr6N";
	width: auto;
	float: left;
	margin-right: 11px;
}
#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input01 {
	width: 225px;
}
#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input02 {
	width: 166px;
}
#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input03 {
	width: 667px;
}
.entry-Left-sec03-p3 {
	width: 100%;
	float: left;
	padding-top: 17px;
}
.entry-Left-sec03-p3 label {
	font-size: 13px;
	color: #2e2b29;
}
.entry-Left-sec03-p3 input[type="checkbox"] {
	display: none;
}
.entry-Left-sec03-p3 input[type="checkbox"] + label::before {
	width: 18px;
	height: 18px;
	line-height: 4px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	content: url(../img/entry_check_img.png);
	padding: 4px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background: #ffffff;
	margin: -3px 5px 0 0;
	-webkit-transition: .1s;
	transition: .1s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.entry-Left-sec03-p3 input[type="checkbox"]:checked + label::before {
	font-size: 25px;
	background: #323232 !important;
	color: #ffffff !important;
	border: none;
}
#entry .entry-Left-sec04 {
	width: 100%;
	float: left;
	padding-top: 28px;
	margin-bottom: 0;
}
#entry .entry-Left-sec04 li {
	width: auto;
	float: left;
	padding-right: 37px;
	padding-bottom: 0;
}
#entry label {
	font-size: 13px;
	color: #2e2b29;
	cursor: pointer;
}
#entry input[type="radio"] {
	display: none;
}
#entry input[type="radio"] + label::before {
	width: 24px;
	height: 24px;
	display: inline-block;
	content: "";
	border-radius: 17px;
	vertical-align: middle;
	border: 2px solid #dddddd;
	margin: -2px 5px 0 0;
	-webkit-transition: .1s;
	background-color: #ffffff;
}
#entry input[type="radio"]:checked + label::before {
	background-color: #323232 !important;
	box-shadow: inset 0 0 0 5px #fff;
}
#entry .entry-Left-sec05 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 21px 0 36px;
}
.entry-Left-con-btn {
	width: 420px;
	height: auto;
	clear: both;
	margin: 0 auto;
	padding-top: 20px;
	color: #fff;
}
.back-btn {
	width: 160px;
	height: 47px;
	line-height: 47px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(../img/back-arrow.png);
	background-position: left;
	background-color: #dfd5d5;
	text-align: center;
	background-position-x: 20px;
}
.back-btn a {
	color: #000;
}
.con-btn {
	width: 230px;
	height: 47px;
	line-height: 47px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(../img/shoppingCart-SpBtn.png);
	background-position: right;
	background-color: #ff6c00;
	text-align: center;
	background-position-x: 200px;
	margin-left: 30px;
}
.con-btn02 {
	margin: 0 auto;
	float: none;
}
.con-btn a {
	color: #fff;
}
.entry3-title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	clear: both;
}
#entry label.entry3-lab {
	color: #ce0000;
}
#entry label.entry3-error {
	padding: 15px 10px;
	color: #ce0000;
	background: #f8ecec;
	border: 1px solid #f0aeae;
	float: left;
	clear: both;
	line-height: 20px;
}
#entry label.entry3-error img {
	padding-right: 10px;
	float: left;
}
#entry .entry04-sec01 {
	width: 100%;
	float: left;
}
#entry .entry04-sec01 li {
	width: 100%;
	float: left;
	padding-bottom: 18px;
}
#entry .entry04-sec01 label {
	font-size: 14px;
	color: #2e2b29;
	font-weight: bold;
}
#entry .entry04-sec01 li p {
	font-size: 13px;
	color: #2e2b29;
}
#entry .entry04-select01 {
	width: 172px;
	padding: 8px 0;
	margin-top: 5px;
}
#entry .entry04-select02 {
	width: 100px;
	float: left;
	margin-right: 10px;
}
#entry .entry04-sec01 li input {
	margin: 5px 10px 0 0;
	padding: 11px 10px;
	width: 148px;
	float: left;
}
#entry .entry04-pdtop {
	padding-top: 20px;
}
#entry .entry04-sec01 .entry04-sec01-LastLi {
	width: 420px;
	margin: 0 auto;
	float: none;
	padding: 54px 0 0;
}
#entry td.txt-r {
	text-align: right;
	padding-right: 10px;
}
/*--------------------------------------------------
 Shopping-cart
 ---------------------------------------------------*/
.ShoppingCart-main {
	width: 1140px;
	padding: 24px;
	margin: 0 auto;
}
.ShoppingCart-sec01 {
	width: 100%;
	float: left;
}
.ShoppingCart-sec01 h1 {
	font-size: 22px;
	color: #4d4c4c;
	width: auto;
	float: left;
	padding-top: 7px;
}
.shoppingCart-SpBtn {
	width: 165px;
	float: right;
	background-repeat: no-repeat;
	background-image: url(../img/shoppingCart-SpBtn.png);
	background-position: right;
	background-color: #ff6c00;
	text-align: center;
	background-position-x: 145px;
	padding: 15px 0;
	margin-top: -4px;
	cursor: pointer;
}
.shoppingCart-SpBtn a {
	color: #ffffff;
}
.ShoppingCart-sec02 {
	width: 98%;
	float: left;
	background-color: #f8ecec;
	border: 1px solid #f0aeae;
	padding: 11px;
	margin-top: 10px;
}
.ShoppingCart-sec02 img {
	width: auto;
	float: left;
	padding-right: 8px;
}
.ShoppingCart-sec02 p {
	font-size: 14px;
	color: #ce0000;
}
.ShoppingCart-sec03 {
	width: 100%;
	float: left;
	padding-top: 9px;
}
.ShoppingCart-sec03-tbl {
	width: 100%;
	float: left;
	border: 1px solid #dcdcdc;
}
.ShoppingCart-sec03-tbl th, .ShoppingCart-sec03-tbl td {
	border: 1px solid #dcdcdc;
	text-align: center;
	font-size: 14px;
	padding: 11px 0;
}
.ShoppingCart-sec03-tbl th {
	background-color: #f0f0f0;
}
.ShoppingCart-sec03-tbl td {
	vertical-align: top;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-01 {
	width: 7.46%;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-02 {
	width: 44.65%;
	text-align: left;
	padding-left: 15px;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-03 {
	width: 19.39%;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-04 {
	width: 8.86%;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-05 {
	width: 4.74%;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-06 {
	width: 8.77%;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-07 {
	width: 5.96%;
}
.ShoppingCart-sec03-tbl td p {
	font-size: 13px;
	line-height: 17px;
	width: 434px;
	float: left;
}
.ShoppingCart-sec03-tbl td a {
	text-decoration: none;
}
.Shopping-sec03-tbl-btn01 {
	font-size: 14px;
	color: #282625;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 2px;
	width: 48px;
	text-align: center;
	float: left;
	padding: 6px 0;
	margin-top: -3px;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-btn02 {
	margin: -3px auto;
	float: none;
}
.ShoppingCart-sec03-tbl .Shopping-sec03-tbl-redcolor {
	font-size: 13px;
	color: #950513;
	padding: 15px 0 75px;
}
.ShoppingCart-sec03-tbl td input {
	width: 60%;
	text-align: center;
	padding: 3px 0;
	margin-top: -4px;
}
.ShoppingCart-sec03-tbl td ul {
	width: auto;
	float: right;
	margin-right: 4px;
}
.ShoppingCart-sec03-tbl td ul li, .ShoppingCart-sec04-left-in h4 {
	width: auto;
	float: left;
	font-size: 14px;
	background-color: #3e3c3b;
	padding: 8px 7px;
	margin-right: 6px;
}
.ShoppingCart-sec03-tbl td ul li a, .ShoppingCart-sec04-left-in h4 a {
	color: #ffffff;
	text-decoration: none;
}
.ShoppingCart-sec04 {
	width: 100%;
	float: left;
	margin-top: 28px;
}
.ShoppingCart-sec04-left {
	width: 698px;
	float: left;
	background-color: #f0f0f0;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding: 20px;
}
.ShoppingCart-sec04-left h1 {
	font-size: 18px;
	color: #2e2b29;
	font-weight: bold;
}
.ShoppingCart-sec04-left p {
	font-size: 13px;
	color: #282625;
	padding-top: 12px;
}
.ShoppingCart-sec04-left-in {
	width: 100%;
	float: left;
	padding: 5px 0 46px;
}
.ShoppingCart-sec04-left-in input {
	width: 236px;
	float: left;
	height: 26px;
	margin-right: 3px;
}
.ShoppingCart-sec04-right-up {
	width: 357px;
	float: right;
}
.ShoppingCart-sec04-right {
	width: 100%;
	float: right;
}
.ShoppingCart-sec04-right li {
	width: 100%;
	float: left;
	font-size: 13px;
	color: #282625;
	text-align: right;
	padding-bottom: 6px;
}
.ShoppingCart-sec04-right li p {
	width: 252px;
	float: left;
	font-size: 13px;
	text-align: left;
}
.ShoppingCart-sec04-right .ShoppingCart-sec04-right-Lli {
	font-size: 16px;
	color: #950513;
	font-weight: bold;
}
.ShoppingCart-sec04-right .ShoppingCart-sec04-right-Lli p {
	color: #282625;
	font-size: 16px;
}
.ShoppingCart-sec04-right02 {
	width: 100%;
	float: left;
	padding-top: 4px;
}
.ShoppingCart-sec04-right02-p1 {
	width: auto;
	float: right;
}
.ShoppingCart-sec04-right02-p2 {
	width: 100%;
	float: right;
	font-size: 13px;
	text-align: right;
	padding-top: 4px;
}
.ShoppingCart-sec04-right02-p2 a {
	color: #1298ac;
	text-decoration: none;
}
/*--------------------------------------------------
 Register
 ---------------------------------------------------*/
.register-main {
	width: 1140px;
	padding: 24px;
	margin: 0 auto;
}
.register-sec01 {
	width: 100%;
}
.register-sec01 h1 {
	font-size: 22px;
	color: #4d4c4c;
	padding-top: 7px;
}
.register-sec02 {
	width: 946px;
	margin: 15px auto;
}
.register-sec02-p1 {
	width: auto;
	float: left;
	font-size: 13px;
	color: #d70000;
	font-size: 13px;
	margin-left: -5px;
}
.register-sec02-star {
	font-size: 17px;
	color: #d70000;
}
.register-sec02-p2 {
	width: 95%;
	float: left;
	background-color: #f0f0f0;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 24px;
	margin-top: 3px;
}
.register-sec02-p2 h1 {
	font-size: 18px;
	color: #2e2b29;
	width: 100%;
	float: left;
	font-weight: bold;
}
.register-sec02-p2 ul {
	width: 100%;
	float: left;
	padding-top: 17px;
}
.register-sec02-p2 ul li {
	width: 238px;
	float: left;
	margin: 0 11px 17px 0;
}
.register-sec02-p2 ul li p {
	font-size: 15px;
	color: #2e2b29;
}
.register-sec02-p2 ul li input, .register-sec02-p2 ul li select {
	width: 234px;
	margin: 2px 0 0 -5px;
	height: 35px;
}
.register-sec02-p2-03 {
	padding: 0 0 16px;
	margin-left: -5px;
}
.register-sec03 {
	width: 946px;
	margin: 15px auto;
}
.register-sec03-p1 {
	padding-bottom: 9px;
}
.register-sec03-p2 {
	width: 100%;
	float: left;
}
.register-sec04 {
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px 0 17px;
}
.register-sec04 p {
	width: 235px;
	margin: 0 auto;
	padding: 15px 0;
	font-size: 16px;
	color: #ffffff;
	background-color: #ff6c00;
}
/*--------------------------------------------------
 myacc-info
 ---------------------------------------------------*/
.accinfo-sec02 {
	width: 900px;
	margin: 15px auto;
}
.accinfo-sec02 .register-sec02-p1 {
	width: auto;
	float: right;
	font-size: 13px;
	color: #d70000;
	font-size: 13px;
}
.accinfo-sec02 .register-sec02-p2 h1 {
	width: auto;
	font-size: 18px;
	color: #2e2b29;
	float: left;
	font-weight: bold;
}
.accinfo-sec02 input::-webkit-input-placeholder {
	padding-left: 10px;
}
.register-sec02-p2 ul.accinfo-date li {
	width: 80px;
}
.register-sec02-p2 ul.accinfo-date li input {
	width: 65px;
	margin: 2px 0 0 -5px;
	height: 35px;
}
/*--------------------------------------------------
 Login
 ---------------------------------------------------*/
.log-title {
	font-size: 22px;
	color: #4d4c4c;
	padding: 24px;
}
.log-in {
	width: 948px;
	margin: 20px auto;
	border: 1px solid #cccccc;
	padding: 30px;
	background: #f0f0f0;
	height: auto;
}
.log-in p {
	text-align: center;
	padding: 0 0 10px;
}
.log-in p.title {
	font-size: 18px;
}
.login-left {
	width: 375px;
	padding: 0 48px;
	float: left;
	height: auto;
	border-right: 1px solid #cccccc;
	text-align: center;
}
.login-left input {
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
}
.login-reg {
	width: 300px;
	margin: 0 auto;
}
.login-reg .cart-btn {
	height: 47px;
	line-height: 47px;
	float: left;
	margin: 0;
}
.login-reg .cart-btn a {
	color: #fff;
}
.login-reg .forget-pass {
	float: left;
	height: 47px;
	line-height: 47px;
	padding-left: 10px;
}
.login-reg .forget-pass a {
	font-size: 13px;
	color: #1298ac;
	text-decoration: none;
}
.login-right {
	width: 400px;
	padding: 0 35px;
	height: auto;
	float: left;
}
.login-right .cart-btn {
	height: 47px;
	line-height: 47px;
	width: 175px;
}
.login-right .cart-btn a {
	color: #fff;
}
/*--------------------------------------------------
 Product Details
 ---------------------------------------------------*/
.product-details-main {
	width: 97%;
	padding: 24px 0 24px 24px;
	margin: 0 auto;
	float: left;
	height: auto;
}
.prd-sec01 {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.prd-sec01-left {
	width: 485px;
	height: auto;
	float: left;
}
.prd-sec01-right {
	width: 385px;
	margin-left: 30px;
	float: left;
}
.prd-sec01-right02 {
	width: auto;
	float: right;
	margin-right: 15px;
}
.prd-sec01-right-p1 {
	font-size: 20px;
	color: #4d4c4c;
	font-weight: bold;
	padding-top: 7px;
}
.prd-sec01-right-p2 {
	font-size: 13px;
	color: #2e2b29;
	padding-top: 7px;
}
.prd-sec01-right-p3 {
	font-size: 14px;
	padding-top: 15px;
}
.prd-sec01-right-p3 a {
	color: #1298ac;
}
.prd-sec01-right-p3 span {
	padding: 1px 0;
	border-left: 1px solid #cccccc;
	margin: 0 5px;
}
.prd-sec01-right-p4 {
	font-size: 17px;
	color: #575757;
	padding-top: 25px;
}
.prd-sec01-right-sp01 {
	color: #00ae19;
	font-size: 14px;
	padding-top: 10px;
}
.prd-sec01-right-sp02 {
	font-size: 14px;
	color: #1298ac;
	padding-top: 10px;
}
.prd-sec01-right-sp03 {
	font-size: 14px;
	padding-top: 10px;
	line-height: 20px;
}
.prd-sec01-right-sp04 {
	font-size: 14px;
	color: #e40000;
	padding-top: 10px;
}
.prd-sec01-right-p5 {
	font-size: 26px;
	color: #a80008;
	font-weight: bold;
	padding-top: 5px;
}
.prd-sec01-right-p6 {
	font-size: 14px;
	padding-top: 15px;
}
.prd-sec01-right-pUp {
	width: 100%;
}
.prd-sec01-right-p7 {
	width: 100%;
	float: left;
	padding-top: 15px;
}
.prd-sec01-right-p7-L {
	width: 100px;
	float: left;
	padding-top: 7px;
}
.prd-sec01-right-p7-L p {
	font-size: 14px;
	width: auto;
	float: left;
	padding: 10px 3px 0 0;
}
.prd-sec01-right-p7-L input {
	width: 40px;
	height: 37px;
	float: left;
	color: #4e4e4e;
	text-align: center;
}
.prd-sec01-right-p7-R {
	float: left;
	text-align: center;
	background-color: #ff6c00;
	cursor: pointer;
	padding: 5px 55px;
	margin-top: 5px;
}
.prd-sec01-right-p7-R a {
	color: #ffffff;
}
.prd-sec01-right-p7-R img {
	max-height: 48px;
}
.prd-sec01-right-p8 {
	width: 112%;
    float: left;
    padding: 15px 0 28px;
    border-top: 1px solid #e0e0e0;
    margin-top: 15px;
}
.prd-sec01-right-p8 a {
	color: #1298ac;
    font-size: 13px;
    width: 175px;
    float: left;
}
.prd-sec01-right-p8 a img {
	margin: 0 8px -7px 14px;
}
.prd-sec01-right-p8 span {
	border-left: 1px solid #cccccc;
	padding: 10px 0;
	margin-left: 7px;
	float: left;
}
.prd-sec01-right-p9 {
    width: 20px;
    float: left;
    padding-top: 0;
    margin-top: -22px;
}
.prd-sec01-right-p9 .fa {
    float: left;
    font-size: 20px;
    padding: 4px 0 0 5px;
}
.prd-para1, .prd-para2, .prd-para5 {
	width: 97%;
	margin-bottom: 40px;
	float: left;
}
.prd-para6 {
	margin-bottom: 40px;
}
.prd-para6-tit {
	color: #2e2b29;
	padding-bottom: 5px;
	border-bottom: 1px solid #bebebe;
}
.prd-para6-in {
	margin-left: -25px;
	margin-top: -10px;
}
.prd-para6-tit {
	color: #2e2b29;
	padding-bottom: 5px;
	border-bottom: 1px solid #bebebe;
}
.product-details-main table {
	width: 96%;
	border: 1px solid #cecece;
	border-collapse: collapse;
	margin-top: 20px;
}
.product-details-main table tr td {
	padding: 10px;
	border-bottom: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 15px;
}
table .td-bg-grey {
	background: #efefef;
}
.bg-grey {
	background: #efefef;
}
.para2-left {
	height: 119px;
	width: 561px;
	margin: 20px 30px 20px 0;
	float: left;
}
.prd-para2 p {
	width: 100%;
	font-size: 13px;
	color: #2e2b29;
	float: left;
}
.prd-para5 input {
	width: 99.4%;
	margin: 20px 0 0;
	padding: 10px 0 10px 5px;
}
.prd-para5 textarea {
	width: 99.4%;
	margin: 20px 0 0;
	padding: 10px 0 0 5px;
	min-height: 120px;
}
.review-btn {
	width: 100%;
}
.review-btn img {
	float: right;
	padding: 10px 0;
}
#product-details .mgfix {
	margin: 10px 0 10px -30px !important;
}
#product-details .prd-sec01-right-p9 .followUs-sec02-in {
	margin-top: 15px;
	width: 340px;
	padding-bottom: 0;
}
#product-details .prd-sec01-right-p9 .social {
	width: 27px;
	height: 27px;
	margin-right: 10px;
	font-size: 20px;
	line-height: 28px;
}
.prd-sp-data {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.prd-sp-data ul.prd-border {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #cecece;
}
.prd-sp-data div.prd-border .prd-border-rows {
	padding: 15px 2% 15px;
    border-bottom: 1px solid #cecece;
    width: 96%;
    float: left;
}
.prd-border-rows-txt01 {
	z-index: 9999;
    background-color: #ffffff;
    border-bottom: none !important;
    line-height: 48px !important;
}
.prd-border-rows-txtL {
	width: 1020px !important;
    float: right;
    border-bottom: 1px solid #cecece;
    margin-top: -7px;
}
.prd-sp-data div.prd-border prd-border-rows:last-child {
	padding-bottom: 0px;
	border-bottom: none;
}
.prd-sp-data div.prd-border prd-border-rows table {
	padding: 15px 10px;
	margin-top: 0;
}
.prd-sp-data div.prd-border prd-border-rows.nborder {
	padding: 8px 10px;
	border-bottom: none;
}
.prd-sp-data div.prd-border prd-border-rows.nborder textarea, .prd-sp-data div.prd-border prd-border-rows.nborder input {
	width: 96%;
	padding: 2%;
}
.prd-sp-data div.prd-border prd-border-rows.nborder textarea {
	min-height: 100px;
}
.prd-sp-data div.prd-border prd-border-rows.nborder a {
	font-size: 18px;
	color: #1298ac;
}
.prd-tag {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
.prd-tag h2 {
	font-weight: bold;
	font-size: 20px;
}
.prd-tag p {
	padding: 5px 0 0;
	font-size: 15px;
}
.prd-tag .prd-tag-txt01 {
	padding-top: 20px;
}
.prd-tag input {
	width: 368px;
    padding: 1% 0;
    margin: 5px 0;
}
.prd-tag-pinksec {
	width: 228px;
	float: left;
	clear: both;
}
.prd-tag-pinksec .ShoppingCart-sec02 {
	width: 96%;
    padding: 11px 2%;
	margin: 10px 0;
}
.prd-tag-pinksec .ShoppingCart-sec02 p {
	padding-top: 0;
}
.prd-tag .addTag {
	width: 125px;
    background: #ff6c00;
    padding: 14px 0 12px;
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
	clear: both;
}
.addTag a {
	color: #fff;
}
.prd-review {
	width: 97%;
	float: left;
}
.prd-review h1 {
	font-size: 15px;
	color: #2e2b29;
	font-weight: bold;
	border-bottom: 1px solid #cecece;
	padding: 10px 0 5px;
}
.prd-review p {
	font-size: 15px;
	color: #2e2b29;
	line-height: 22px;
    padding-top: 10px;
}
.prd-review p a {
	color: #1298ac;
}
.prd-review p span {
	font-size: 13px;
	padding-left: 5px;
}
.prd-review .prd-review-Lrow {
    padding-top: 30px;
}
.jssort12 .w h2 {
	font-size: 15px;
	color: #1298ac;
	line-height: 46px;
}
/*--------------------------------------------------
 Mail Magazine
 --------------------------------------------------*/
.mail-folow {
	width: 1188px;
	margin: 20px auto;
}
.mail-magazine {
	width: 49%;
	float: left;
	background: #fff;
	border: 1px solid #dad6d6;
}
.magazine-sec01 {
	width: 80%;
	text-align: center;
	margin: 10px auto 12px;
}
.mail-follow-icons {
	width: 100%;
	text-align: center;
	padding-top: 15px;
}
.magazine-sec01 img {
	width: 200px;
}
.magazine-sec01-border {
	border-bottom: 1px solid #3f3833;
	margin-top: -12px;
}
.magazine-sec03 {
	width: 477px;
	margin: 40px auto 22px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.magazine-sec03 input {
	border: none;
	color: #888888;
	width: 394px;
	float: left;
	padding: 13px 0 17px 10px;
	outline: 0;
}
.magazine-sec03 p {
	width: 74px;
	float: right;
	margin-top: -46px;
	height: 46px;
	font-size: 14px;
	line-height: 46px;
	background-color: #d70000;
	color: #ffffff;
	text-align: center;
}
/*--------------------------------------------------
 Follow Us
 --------------------------------------------------*/
.followUs {
	width: 49%;
	float: right;
	background: #fff;
	border: 1px solid #dad6d6;
}
.followUs-sec01 img {
	width: 157px;
	margin-bottom: 0;
	margin: 0 auto;
}
.follow-sec01-border {
	margin-top: -6px;
}
.followUs-sec02-in {
	width: 286px;
	margin: 0 auto;
}
.social {
	width: 27px;
	height: 27px;
	float: left;
	margin: 0 10px 0 0;
	line-height: 30px;
	font-family: Entypo;
	font-size: 19px;
	text-align: center;
	color: #ffffff;
	border-radius: 27px;
	background: #555;
	overflow: hidden;
	cursor: pointer;
}
.social a {
	color: #ffffff;
}
.social-last {
	margin-right: 0;
}
#product .followUs-sec02-in {
	margin-top: 40px;
	width: 410px;
	padding-bottom: 30px;
}
#product .social {
	width: 38px;
	height: 38px;
	margin-right: 15px;
	font-size: 28px;
	line-height: 40px;
}
#product .social-last {
	margin-right: 0;
}