@media only screen and (max-width: 960px) {
	body {
		background: #f0f0f0;
		margin: 0;
	}
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}

	.main {
		width: 96%;
		min-height: auto;
		margin-top: 10px;
	}
	.main .wrapper {
		min-height: auto;
	}
	.wrapper {
		width: 100%;
	}
	/*--------------------------------------------------
	 Login
	 ---------------------------------------------------*/
	.log-title {
		width: 96%;
		font-size: 16px;
		padding: 24px 0 0;
		margin: 0 auto;
	}
	.log-in {
		width: 96%;
		margin: 20px auto;
		border: 1px solid #cccccc;
		padding: 30px 0 0;
		background: #f0f0f0;
		height: auto;
	}
	.log-in p {
		text-align: left;
		padding: 0 0 10px;
	}
	.log-in p.title {
		text-align: center;
		font-size: 17px;
	}
	.login-left {
		width: 96%;
		padding: 0;
		float: none;
		border-right: none;
		border-bottom: 1px solid #cccccc;
		text-align: center;
		margin: 0 auto;
	}
	.login-left input {
		width: 99%;
		margin: 0 auto 15px;
		padding: 10px 0;
	}
	.login-reg {
		width: 100%;
		margin: 0 auto;
	}
	.login-reg .cart-btn {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.login-reg .forget-pass {
		float: none;
		padding-left: 0;
		text-align: left;
		width: 96%;
		margin: 0 auto;
	}
	.login-reg .forget-pass a {
		font-size: 13px;
		color: #1298ac;
		text-decoration: none;
	}
	.login-right {
		width: 96%;
		padding: 20px 0;
		height: auto;
		float: none;
		margin: 0 auto;
	}
	.login-right .cart-btn {
		height: 47px;
		line-height: 47px;
		width: 100%;
	}
	.login-right .cart-btn a {
		color: #fff;
	}
	/*--------------------------------------------------
	 Product (index)
	 ---------------------------------------------------*/
	#product .product-main {
		padding-top: 10px;
	}
	#product .product-sec01 {
		width: 100%;
	}
	#product .slide-demo ul li img {
		max-width: 100%;
	}
	#product .next, #product .next:hover {
		background-size: 12px;
		background-position: 5px 10px;
	}
	#product .prev, #product .prev:hover {
		background-size: 12px;
		background-position: 0 10px;
	}
	#product .slide-demo .indicator {
		top: 0;
	}
	#product .slide-demo .indicator span {
		width: 7px;
		height: 7px;
		margin-right: 0px;
	}
	#product .product-sec02UP {
		width: 100%;
		border: none;
		padding: 0;
	}
	#product .jssor-6-col01 {
		width: 49%;
		float: left;
		margin-bottom: 2%;
		background-size: 100%;
		height: auto;
	}
	#product .jssor-6-col05 {
		width: 98%;
	}
	#product .jssor-6-col01 img {
		max-width: 100%;
	}
	#product .product-sec05Sp .jssor-6-col05 {
		background: none;
	}
	#product .jssor-6-col01 p {
		font-size: 11px;
		padding-left: 5px;
		line-height: 47px;
	}
	#product .jssor-6-col02, #product .jssor-6-col04 {
		float: right;
	}
	#product .product-sec02 {
		width: 96%;
		padding: 2%;
	}
	#product .product-sec02-p1 {
		padding: 7px 0 10px;
	}
	#product .product-sec02-p1 h1 {
		font-size: 16px;
	}
	#product .product-sec02-p2 {
		margin-top: 0;
	}
	#product .product-sec03-p2-in {
		width: 98%;
		margin-right: 4%;
	}
	#product .product-sec02-p2-in-01 img, #product .product-sec02-p2-in-02 img {
		max-width: 100%;
	}
	#product .product-sec02-circle01, #product .product-sec02-circle02, #product .product-sec02-circle03, #product .product-sec02-circle04 {
		width: 23px;
		font-size: 12px;
		padding: 5px 0;
	}
	#product .product-sec03-p2-in-01 {
		width: 96%;
	}
	#product .product-sec02-p2-in-02 p {
		font-size: 12px;
		width: 90%;
		padding-top: 4px;
	}
	#product .product-sec02-p2-in-02 h2 {
		font-size: 13px;
		color: #e73656;
		padding: 0 0 0 5px;
		font-weight: bold;
	}
	#product .product-sec02-p2-in-Last {
		margin-right: 0;
	}
	#product .myList section, #product .myList02 section, #product .myList03 section {
		display: none;
	}
	#product .product-load-more, #product .product-load-more02, #product .product-load-more03 {
		width: 100%;
		float: left;
		font-size: 13px;
		text-align: center;
		cursor: pointer;
		padding: 10px 0;
	}
	#product .product-load-more img, #product .product-load-more02 img, #product .product-load-more03 img {
		margin: 0 0 -3px 3px;
	}
	#product .product-sec02-p2 {
		margin: 0;
		padding: 0;
	}
	#product .product-sec02-New {
		width: 100%;
		margin: 15px 0 0;
	}
	#product .product-sec02-New li {
		width: 49%;
		height: auto;
		float: left;
		padding: 0;
		background: none;
		background-color: #ffffff;
		border-bottom: 3px solid #ff6c00;
	}
	#product .product-sec02-New .product-sec02-New-Li02 {
		background: none;
		background-color: #ffffff;
	}
	#product .product-sec02-New li h3 {
		font-size: 15px;
		padding: 10px 8px 0;
	}
	#product .product-sec02-New li p {
		font-size: 11px;
		line-height: 16px;
		padding: 5px 7px 0;
		width: auto;
	}
	#product .product-sec02-New li span {
		font-size: 11px;
		margin-top: 0;
		padding: 0 7px 10px;
	}
	#product .product-sec03 {
		width: 96%;
		padding: 2%;
	}
	#product .product-sec05 {
		background-color: transparent;
		margin: 0 0;
	}
	#product .product-sec05Sp {
		margin-top: 0px;
	}
	#product .product-sec03-p2-in-p2 li {
		width: 48%;
	}
	.addToCart-btn {
		width: 100%;
		background-color: #ff6c00;
		height: auto;
		line-height: 30px;
		padding-top: 2px;
		font-size: 12px;
	}
	.addToCart-btn i {
		margin-top: 1px;
	}
	.topNotice {
		width: 96%;
		padding: 2%;
	}
	.topNotice li h1 {
		font-size: 16px;
		text-align: left;
		margin-top: 0;
	}
	.topNotice li {
		padding: 10px 0;
		line-height: 18px;
	}
	.topNotice li h2 {
		font-size: 13px;
	}
	.topNotice li h3, .topNotice li p {
		font-size: 12px;
	}
	.topNotice li h4 {
		color: #3f3833;
	}
	/*--- Jssor css ---*/
	#jssor_4, #jssor_1, #jssor_2, #jssor_3 {
		width: 280px !important;
		height: 270px !important;
		left: 0;
		margin: 0 auto !important;
	}
	#jssor_3, .jssor_3_in {
		height: 50px !important;
	}
	.jssor_4_in, .jssor_1_in, .jssor_2_in, .jssor_3_in {
		width: 100%;
		height: 270px;
		margin: 0 auto;
	}
	.jssora03l, .jssora03r {
		display: none;
	}
	/*--------------------------------------------------
	 Register
	 ---------------------------------------------------*/
	#register dl dt {
		background-image: url(../img/myacc-spMinusSign.png);
		background-repeat: no-repeat;
		background-position: 98%;
		background-size: 21px 3px;
	}
	#register dl dt.active {
		background-image: url(../img/myacc-spPlusSign.png);
		background-repeat: no-repeat;
		background-position: 98%;
		background-size: 21px 21px;
	}
	.register-main {
		width: 96%;
		padding: 2%;
	}
	.register-sec01 {
		width: 100%;
		float: left;
	}
	.register-sec01 h1 {
		font-size: 16px;
		padding-top: 15px;
		text-align: center;
	}
	.register-sec02 {
		width: 100%;
		margin: 10px auto;
		float: left;
	}
	.register-sec02-p1 {
		margin-left: -5px;
	}
	.register-sec02-p2 {
		width: 94%;
		padding: 3%;
	}
	.register-sec02-p2 h1 {
		font-size: 15px;
		padding: 10px 0 5px;
		border-bottom: 2px solid #d9d9d9;
	}
	.register-sec02-p2 ul {
		padding: 10px 0 5px;
	}
	.register-sec02-p2 ul li {
		width: 100%;
		margin: 0 0 7px 0;
	}
	.register-sec02-p2 ul li p {
		font-size: 12px;
	}
	.register-sec02-p2 ul li input {
		width: 100%;
		margin: 2px 0 0 -2px;
		height: 20px;
	}
	.register-sec02-p2-03 {
		padding: 0 0 5px;
		margin-left: 0;
	}
	.register-sec03 {
		width: 100%;
		margin: 0 auto;
		float: left;
	}
	.register-sec04 {
		background-color: #ff6c00;
		padding: 10px 0;
		margin: 10px 0 200px;
	}
	.register-sec04 a, .register-sec04 a p {
		color: #ffffff;
		padding: 0;
	}
	/*--------------------------------------------------
	 Product details
	 ---------------------------------------------------*/
	.product-details-main {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	#prd-slider .sp-thumbnail {
		text-align: center;
	}

	#prd-slider .sp-thumbnail-image-container {
		display: block;
	}
	.sp-image-container {
		width: 320px;
		padding: 0 !important;
	}
	.sp-image {
		width: 320px;
		padding: 0 !important;
	}
	.slider-pro {
		width: 320px !important;
	}
	.sp-slides {
		width: 320px !important;
	}
	.prd-sec01-SpTxt {
		font-size: 13px;
		width: 96%;
		margin: 0 auto;
		padding: 5px 0;
	}
	.prd-sec01-right {
		width: 96%;
		margin: 0 auto;
		float: none;
	}
	.prd-sec01-right-p4 {
		font-size: 15px;
		color: #575757;
		padding-top: 15px;
		text-align: right;
	}
	.prd-sec01-right-p5 {
		font-size: 20px;
		color: #a80008;
		font-weight: bold;
		padding-top: 3px;
		text-align: right;
	}
	.prd-sec01-right-sp01 {
		color: #00ae19;
		font-size: 13px;
		padding-top: 20px;
	}
	.prd-sec01-right-sp02 {
		font-size: 13px;
		color: #1298ac;
		padding-top: 7px;
	}
	.prd-sec01-right-sp03, .prd-sec01-right-sp04 {
		font-size: 13px;
		padding-top: 7px;
	}
	
	.prd-sec01-right-pUp-txt {
		width: 100%;
		float: left;
	}
	.prd-sec01-right-pUp {
		width: 100%;
		border: 1px solid #e6e6e6;
		float: left;
		margin-top: 7px;
	}
	.prd-sec01-right-pUp-in {
		width: 94%;
		margin: 0 auto;
	}
	.prd-sec01-right-pUp-txt {
		color: #2e2b29;
		font-weight: bold;
		padding-top: 13px;
		font-size: 15px;
	}
	.prd-sec01-right-sp-brd {
		border-bottom: 1px solid #cccccc;
	}
	.prd-sec01-right-p7 {
		width: 100%;
		float: none;
		padding: 7px 0;
		margin: 0 auto;
	}
	.prd-sec01-right-p7-L {
		width: 28%;
		float: left;
		padding-top: 10px;
	}
	.prd-sec01-right-p7-L p {
		font-size: 12px;
		width: auto;
		float: left;
		padding: 3px 3px 0 0;
	}
	.prd-sec01-right-p7-L input {
		width: 40px;
		height: 27px;
		margin-top: -3px;
	}
	.prd-sec01-right-p7-R {
		width: 57%;
		height: auto;
		float: right;
		text-align: center;
		margin: 6px 10px 0 0;
		padding: 5px 15px;
		line-height: 20px;
		background-color: #ff6c00;
		cursor: pointer;
	}
	.prd-sec01-right-p7-R img {
		max-height: 36px;
	}
	.prd-sec01-right-p8 {
		width: 100%;
		float: none;
		padding: 15px 0 28px;
		border-top: 1px solid #e0e0e0;
		border-bottom: none;
		text-align: center;
		margin: 0 auto;
	}
	.prd-sec01-right-p8 a {
		color: #ff6c00;
		font-size: 10px;
		width: 120px;
		float: left;
	}
	.prd-sec01-right-p8 a img {
		margin: -4px 4px 0 0;
		width: 14px;
		float: left;
	}
	.prd-sec01-right-p8 span {
		border-left: 1px solid #cccccc;
		padding: 16px 0;
		margin: -6px -2px 0 7px;
		width: 10px;
		float: left;
	}
	.prd-sec01-right-p8 h2 {
		float: left;
	}
	.prd-sec01-right-p8-L {
		padding-top: 3px;
	}
	.prd-sec01-right-p9 {
		width: 100%;
		float: left;
		padding-top: 0;
		margin: -15px 0 10px 0;
	}
	.prd-sec01-right-p9 .fa {
		font-size: 30px;
    	padding: 4px 0 0 6px;
	}
	#product-details .prd-sec01-right-p9 .social {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 29px;
		border-radius: 40px;
		opacity: 0.7;
	}
	#product-details .prd-sec01-right-p9 .followUs-sec02-in {
		width: 110px;
		margin-top: 0;
		margin-bottom: 4px;
	}
	.prd-sec01-left {
		float: none;
	}
	.prd-sec01-left {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: none;
	}
	.prd-sp-data {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.prd-sp-data ul.prd-border {
		width: 96%;
		height: auto;
		margin: 0 2% auto;
		border: 1px solid #cecece;
	}
	.prd-sp-data ul.prd-border li {
		padding: 15px 2%;
		border-bottom: 1px solid #cecece;
	}
	.prd-sp-data ul.prd-border li:last-child {
		padding-bottom: 0px;
		border-bottom: none;
	}
	.prd-sp-data ul.prd-border li table {
		padding: 15px 10px;
		margin-top: 0;
	}
	.prd-sp-data ul.prd-border li.nborder {
		padding: 8px 10px;
		border-bottom: none;
	}
	.prd-sp-data ul.prd-border li.nborder textarea, .prd-sp-data ul.prd-border li.nborder input {
		width: 96%;
		padding: 2%;
	}
	.prd-sp-data ul.prd-border li.nborder textarea {
		min-height: 100px;
	}
	.prd-sp-data ul.prd-border li.nborder a {
		font-size: 18px;
		color: #1298ac;
	}
	.prd-sp-review {
		width: 97%;
		height: 58px;
		margin: 20px auto;
		background: #ff6c00;
	}
	.prd-sp-review p {
		width: 100%;
		font-size: 20px;
		line-height: 58px;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 2px;
	}
	.prd-sp-review p a {
		color: #fff;
	}
	.prd-tag {
		width: 97%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.prd-tag h2 {
		font-weight: bold;
		font-size: 17px;
	}
	.prd-tag p {
		padding: 5px 0 0;
		font-size: 13px;
	}
	.prd-tag .prd-tag-txt01 {
		padding-top: 5px;
	}
	.prd-tag input {
		width: 100%;
		padding: 2% 0;
		margin: 0;
	}
	.prd-tag .addTag {
		width: 50%;
		padding: 10px 0 8px;
	}
	.addTag a {
		color: #fff;
	}
	.prd-3sec-sp {
		width: 96%;
		margin: 0 auto;
		border: 1px solid #e6e6e6;
	}
	.prd-3sec-sp h2 {
		width: 96%;
		padding: 10px 2%;
		background-color: #efefef;
		float: left;
	}
	.prd-3sec-sp h2 span {
		width: 21px;
		float: right;
		height: 3px;
		background-color: #979797;
		margin-top: 6px;
	}
	.prd-3sec-sp-p2 {
		width: 100%;
		float: left;
	}
	.prd-para2 {
		width: 95%;
		float: none;
		margin: 20px auto;
	}
	.product-details-main table {
		width: 96%;
		border: 1px solid #cecece;
		border-collapse: collapse;
		margin: 20px auto;
	}
	.prd-para1 {
		margin-bottom: 0;
	}
	.prd-review {
		width: 96%;
		float: none;
		margin: 20px auto;
	}
	.prd-review p {
		font-size: 13px;
		line-height: 19px;
	}
	/*--------------------------------------------------
	 Menu
	 ---------------------------------------------------*/
	header {
		background-color: #ffffff;
		border-bottom: 2px solid #e2e2e2;
	}
	.had-sec02 {
		margin: 0 auto;
		width: 98%;
	}
	.had-sec02-left {
		width: 160px;
	}
	.had-sec02-left img {
		max-width: 100%;
	}
	.had-sec01-slt {
		float: right;
		margin-top: 15px;
	}
	.spHeader {
		width: 100%;
		border-top: 2px solid #e2e2e2;
		margin-top: 10px;
	}
	.spHeader li {
		float: left;
		text-align: center;
		border-right: 2px solid #e2e2e2;
		padding: 10px 0;
	}
	.spHeader li img {
		width: 32px;
	}
	#toggle {
		width: 31%;
		display: block;
		padding: 16px 0;
		cursor: pointer;
	}
	#toggle img {
		width: 76px;
	}
	#search {
		width: 20%;
	}
	#content {
		width: 24%;
	}
	#cart {
		width: 23%;
		border-right: 0;
	}
	#menu {
		display: none;
		font-size: 14px;
		background: #ffffff;
		text-align: center;
		line-height: 140%;
		border-top: 1px solid #fff;
	}
	#menu a {
		color: #2e2b29;
		border-bottom: 2px solid #e2e2e2;
		padding: 10px 0 10px 0;
		display: block;
	}
	 /*--------------------------------------------------
		Myacc-confirm 
	 ---------------------------------------------------*/
	
	.myacc-confirm-sp{
		display: block;
	}
	.myacc-confirm-pc{
		display: none;
	}
	.myacc-confirm-h1 h1{
		width: 100%;
	}	
	.myacc-confirm-sec1{
		width: 100%;
	}
	.myacc-confirm-sec1 h2, .myacc-confirm-sec1 p{
 		text-align: left;
 	}
	.myacc-confirm-txt5{
		padding: 15px 0px 0px 0px;
		clear: both;
	}
	 .myacc-confirm-btn{
	 	float: left;
	 	clear: both;
 	}
 	.myacc-confirm-btn img{
	 	width: auto;
 	}
 	.myacc-confirm-li1{
	font-size: 14px;
	}
	.myacc-con-last .save-btn{
		width: 94%;
    	margin: 0 auto;
	}
	/*--------------------------------------------------
	 myacc-info (sp)
	 ---------------------------------------------------*/
	.myacc-confirm {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.myacc-confirm h1 {
		width: 100%;
	}
	.accinfo-sec02 {
		width: 100%;
		margin: 10px auto;
		float: left;
	}
	.accinfo-sec02 .register-sec02-p1 {
		width: 87%;
		float: right;
		font-size: 13px;
		color: #d70000;
		position: absolute;
		text-align: right;
	}
	.accinfo-sec02 .register-sec02-p2 h1 {
		width: 100%;
		font-size: 18px;
		color: #2e2b29;
		float: left;
		font-weight: bold;
		padding: 0 0 7px;
	}
	.accinfo-sec02 input::-webkit-input-placeholder {
		padding-left: 10px;
	}
	.register-sec02-p2 ul.accinfo-date li {
		width: 25%;
		float: left;
	}
	.register-sec02-p2 ul.accinfo-date li input {
		height: 20px;
	}
	.save-btn {
		width: 94%;
		margin: 15px auto;
	}

	/*--------------------------------------------------
	 myacc-wish-list
	 ---------------------------------------------------*/
	#wish-list .wish-main {
		width: 96%;
		padding: 2%;
	}
	.wish-SpSec01 {
		width: 100%;
		float: left;
	}
	.wish-Sec01-tit {
		font-size: 16px;
		text-align: center;
		color: #2e2b29;
		border-bottom: 1px solid #dcdcdc;
		padding: 25px 0 10px;
	}
	.wish-SpSec01-p01 {
		width: 100%;
		float: left;
		padding-top: 10px;
	}
	.wish-SpSec01-p01-img {
		width: 76px;
		float: left;
		border: 1px solid #dcdcdc;
		margin: 0;
	}
	.wish-SpSec01-p01-img img {
		max-width: 100%;
	}
	.wish-SpSec01-p01-btn {
		width: auto;
		float: right;
	}
	.wish-SpSec01-p01 p {
		width: 100%;
		float: left;
		font-size: 12px;
		line-height: 24px;
	}
	.wish-SpSec01-p01-b3 {
		width: 100%;
		float: left;
	}
	.wish-SpSec01-p01-b3 textarea {
		margin-top: 0;
	}
	.wish-SpSec01-btn {
		width: 100%;
		float: left;
		padding: 13px 0;
	}
	.wish-SpSec01-btn a {
		color: #ffffff;
	}
	.wish-SpSec01-p02-Up {
		width: 100%;
		float: left;
	}
	.wish-SpSec01-p02-Up p {
		font-size: 13px;
		color: #4e4e4e;
		padding-top: 20px;
		line-height: 35px;
	}
	.wish-SpSec01-p02-Up p input {
		width: 40px;
	}
	.wish-SpSec01-p02-Up p span {
		font-size: 13px;
	}
	.wish-SpSec01-p02-Up h7 {
		width: auto;
		float: left;
	}
	.wish-SpSec01-p02 {
		border-bottom: 2px solid #dcdcdc;
	}
	.wish-SpSec01-p02 h5 {
		width: 48%;
		float: left;
		margin: 0;
	}
	.wish-SpSec01-p02 h6 {
		width: 48%;
		float: right;
		margin: 0;
		line-height: 12px;
		background-color: #3e3c3b;
		border: none;
		height: 38px;
	}
	.wish-SpSec01-p02 h6 .wish-SpSec01-btn a {
		color: #fff;
	}
	.wish-SpSec02 {
		width: 100%;
		float: left;
	}
	.wish-SpSec02 li {
		width: 100%;
		margin-left: 0;
	}
	.wish-SpSec02-Fli {
		background-color: #ff6c00;
		padding: 3px 0;
	}
	.wish-SpSec02-Fli .wish-SpSec01-btn {
		background-color: transparent;
		padding: 10px 0;
	}
	.wish-tbl, .wish-tbl tr, .wish-tbl tr td {
		width: 100%;
		float: left;
		border: none;
		text-align: left;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.wish-tbl .wish-tbl-col1, .wish-tbl .wish-tbl-col2, .wish-tbl .wish-tbl-col3, .wish-tbl .wish-tbl-col4, .wish-tbl .wish-tbl-col5, .wish-tbl .wish-tbl-col6 {
		width: 100%;
		padding: 0;
		margin: 0;
		height: auto;
	}
	.wish-Lstsec {
		width: 100%;
		float: left;
		padding-top: 200px;
	}

	/*--------------------------------------------------
	 Myacc-dashbord
	 ---------------------------------------------------*/
	.myacc-main {
		width: 96%;
		padding: 2%;
	}
	.myacc-sec01 {
		width: 100%;
		float: left;
		background-color: transparent !important;
		margin-top: -7px;
	}
	.myacc-sec01 dd ul li a {
		color: #2e2b29;
	}
	.myacc-sec01-span {
		height: 21px !important;
		background-color: transparent !important;
		margin-top: -3px !important;
	}
	.myacc-sec01-span img {
		max-width: 100%;
	}
	.myacc-sec02 {
		width: 100%;
		float: left;
	}
	.myacc-sec02 h1 {
		text-align: center;
		font-size: 15px;
		padding-top: 15px;
	}
	.myacc-sec02 p {
		font-size: 12px;
		padding-top: 13px;
	}
	.myacc-sec02 p span {
		font-weight: bold;
	}
	.myacc-sec03 {
		width: 100%;
		float: left;
		padding: 20px 0 300px;
	}
	.myacc-sec03 h2 {
		font-size: 15px;
		border-bottom: 2px solid #bebebe;
		padding-bottom: 3px;
	}
	.myacc-sec03 li {
		font-size: 13px;
		padding: 13px 0 5px 0;
		border-bottom: 1px solid #bebebe;
	}
	.myacc-sec03 li h3 {
		font-weight: bold;
		padding-bottom: 5px;
	}
	.myacc-sec03 li p a {
		color: #1298ac;
		text-decoration: none;
	}
	/*--------------------------------------------------
	 myacc-order
	 ---------------------------------------------------*/
	#top .main {
		width: 96%;
		padding: 2%;
	}
	.main-sec01 {
		padding-top: 20px;
	}
	.main-sec01 h1 {
		width: 100%;
		float: left;
		font-size: 18px;
		color: #2e2b29;
		text-align: center;
		padding-bottom: 10px;
	}
	.main-sec01-right {
		width: 110px;
		float: none;
		padding-top: 9px;
		line-height: 23px;
		margin: 0 auto;
	}
	#main-sec01-LastLi img {
		display: none;
	}
	.main-sec02-p2 li {
		width: 100%;
		min-height: auto;
	}
	.main-sec02-p2 h3 {
		width: 100%;
	}
	.main-sec02 .main-sec02-p2 p {
		width: 100%;
		padding-top: 0;
	}
	.main-sec02 .main-sec02-p1 {
		border-bottom: none;
		margin-bottom: -5px;
	}
	.main-sec02 p {
		border-bottom: 1px solid #bebebe;
		padding-bottom: 7px;
	}
	.main-sec02 h3, .main-sec03 h3 {
		padding: 13px 0 3px;
		font-size: 14px;
	}
	.main-Spsec03 {
		width: 100%;
		float: left;
	}
	.main-Spsec03 h2 {
		font-size: 15px;
		color: #2e2b29;
		border-bottom: 2px solid #bebebe;
		padding: 25px 0 5px;
	}
	.main-Spsec03p-p2 {
		width: 100%;
		float: left;
		border: 1px solid #dcdcdc;
		margin: 10px 0;
	}
	.main-Spsec03p-p2 h3 {
		font-size: 13px;
		color: #282625;
		background-color: #f0f0f0;
		padding: 10px 10px;
	}
	.main-Spsec03p-p2-b01 {
		width: 100%;
		float: left;
	}
	.main-Spsec03p-p2-b01 h6 {
		font-size: 13px;
		color: #282625;
		line-height: 19px;
		padding: 10px 10px;
	}
	.main-Spsec03p-p2-b01 p {
		font-size: 13px;
		color: #282625;
		line-height: 24px;
		padding: 0 10px;
	}
	.main-Spsec03p-p2-b02 {
		width: 100%;
		float: left;
		background-color: #f0f0f0;
		padding: 10px 0;
	}
	.main-Spsec03p-p2-b02 p {
		font-size: 13px;
		color: #282625;
		text-align: left;
		line-height: 24px;
		padding: 0 10px;
	}
	.main-Spsec03p-p2-b02 p span {
		width: 73%;
		float: left;
		text-align: right;
		padding-right: 3%;
	}
	.main-Spsec03p-p2-b02 .main-Spsec03p-p2-b02-txt02 {
		color: #950513;
		width: auto;
		padding: 0;
	}
	/*--------------------------------------------------
	 Shopping-Cart
	 ---------------------------------------------------*/
	#ShoppingCart .ShoppingCart-main {
		width: 96%;
		padding: 2%;
		padding-bottom: 200px;
	}
	#ShoppingCart .ShoppingCart-sec01 h1 {
		font-size: 17px;
		width: 100%;
		padding: 10px 0;
	}
	#ShoppingCart .shoppingCart-SpBtn {
		width: 100%;
		float: left;
		background-repeat: no-repeat;
		background-image: url(../img/shoppingCart-SpBtn.png);
		background-position: right;
		background-color: #ff6c00;
		text-align: center;
		background-position-x: 98%;
		padding: 10px 0;
		margin-top: 10px;
		cursor: pointer;
	}
	#ShoppingCart .shoppingCart-SpBtn a {
		color: #ffffff;
	}
	#ShoppingCart .ShoppingCart-sec02 {
		width: 100%;
		padding: 7px 0 4px;
		margin-top: 15px;
	}
	#ShoppingCart .ShoppingCart-sec02 img {
		width: 16px;
		float: left;
		padding: 0 5px;
	}
	#ShoppingCart .ShoppingCart-sec02 p {
		font-size: 13px;
	}
	#ShoppingCart .shoppingCart-Spsec03 {
		width: 100%;
		float: left;
		border: 1px solid #dcdcdc;
		margin-top: 15px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Left {
		width: 25%;
		float: left;
		text-align: center;
		padding-top: 10px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Left img {
		width: 50px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Right {
		width: 75%;
		float: left;
		padding-top: 12px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Right li {
		width: 100%;
		float: left;
		padding-bottom: 10px;
	}
	#ShoppingCart .ShoppingCart-sec04-rightSp {
		width: auto;
		float: right;
		padding-top: 18px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Right li p {
		width: 72%;
		float: left;
		font-size: 13px;
		color: #282625;
		padding-top: 3px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Right li p span {
		color: #950513;
		font-size: 14px;
		padding-left: 15px;
	}
	#ShoppingCart .shoppingCart-Spsec03-Right li p input {
		width: 32px;
		text-align: center;
		padding: 3px 0;
		margin-left: 17px;
	}
	.Shopping-sec03-tbl-btn01 {
		font-size: 13px;
		width: 44px;
		float: right;
		padding: 5px 0;
		margin: 0 12px 0 0;
	}
	#ShoppingCart .shoppingCart-Spsec03-btn {
		width: 100%;
		float: left;
	}
	#ShoppingCart .shoppingCart-Spsec03-btn01, #ShoppingCart .shoppingCart-Spsec03-btn02 {
		width: 34%;
		float: left;
		color: #ffffff;
		background-color: #3e3c3b;
		text-align: center;
		font-size: 11px;
		padding: 5px 0;
		margin-top: 10px;
	}
	#ShoppingCart .shoppingCart-Spsec03-btn02 {
		width: 60%;
		float: right;
	}
	#ShoppingCart .ShoppingCart-sec04 {
		margin-top: 20px;
	}
	#ShoppingCart .ShoppingCart-sec04-left {
		width: 96%;
		padding: 2%;
	}
	#ShoppingCart .ShoppingCart-sec04-left h1 {
		font-size: 16px;
		padding-top: 10px;
	}
	#ShoppingCart .ShoppingCart-sec04-left p {
		padding-top: 7px;
	}
	#ShoppingCart .ShoppingCart-sec04-left-in {
		padding-bottom: 7px;
	}
	#ShoppingCart .ShoppingCart-sec04-left-in input {
		width: 65%;
		height: 20px;
		margin-right: 0;
	}
	#ShoppingCart .ShoppingCart-sec04-left-in h4 {
		width: 29%;
		float: right;
		font-size: 11px;
		padding: 7px 5px;
		margin-right: 0;
	}
	#ShoppingCart .ShoppingCart-sec04-right-up {
		width: 100%;
		padding-top: 30px;
	}
	#ShoppingCart .ShoppingCart-sec04-right li {
		padding-bottom: 8px;
	}
	#ShoppingCart .ShoppingCart-sec04-right li p {
		width: 200px;
		margin-top: -5px;
	}
	/*--------------------------------------------------
	 Entry (SP)
	 ---------------------------------------------------*/
	#entry .entry-main {
		width: 96%;
		padding: 2%;
	}
	#entry .entry-Left {
		width: 100%;
		float: left;
	}
	#entry .entry-Left-sec01 {
		width: 100%;
		float: left;
	}
	#entry .entry-Left-sec01 h1 {
		font-size: 20px;
		color: #4d4c4c;
		padding-top: 10px;
	}
	#entry .entry-Left-sec02 {
		width: 100%;
		float: left;
		padding-top: 0;
	}
	#entry .entry-Left-sec02 h2 {
		font-size: 13px;
		color: #2e2b29;
		border-bottom: none;
		padding-bottom: 3px;
	}
	#entry .entry-Left-sec02 h2 span {
		font-size: 18px;
		color: #ffffff;
		background-color: #d70000;
		padding: 0 8px 0 7px;
		margin-right: 10px;
	}
	#entry .entry-Left-sec02 p {
		font-size: 11px;
		color: #4d4c4c;
		padding-top: 0;
	}
	#entry .entry-Left-sec02-select {
		width: 100%;
		height: 35px;
		margin-top: 5px;
	}
	#entry .entry-Left-sec03 {
		width: 96%;
		padding: 2%;
		margin-top: 10px;
	}
	#entry .entry-Left-sec03 h1 {
		font-size: 15px;
	}
	#entry .entry-Left-sec03-p2 {
		width: 100%;
		float: left;
	}
	#entry .entry-Left-sec03-p2 li {
		width: 100%;
		float: left;
		padding: 10px 0 0 0;
		border-bottom: none;
	}
	#entry .entry-Left-sec03-p2 li h4 {
		font-size: 14px;
		padding: 3px 0 0 0;
		width: 100%;
	}
	#entry .entry-Left-sec03-p2 li h4 span img {
		margin: 0 0 -5px 9px;
	}
	#entry .entry-Left-sec03-p2 li p {
		width: 100%;
		float: left;
		margin-top: 5px;
	}
	#entry .entry-Left-sec03-p2 li p input {
		width: 96%;
		height: 30px;
		padding: 0 0 0 7px;
		width: auto;
		margin-right: 0;
	}
	#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input01 {
		width: 97.5%;
		padding: 0 0 0 2%;
	}
	#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input02 {
		width: 96%;
	}
	#entry .entry-Left-sec03-p2 .entry-Left-sec03-p2-input03 {
		width: 98%;
	}
	#entry .entry-Left-sec03-p3 {
		padding-top: 10px;
		margin-bottom: 0px;
	}
	#entry .entry-Left-sec03-p3 label {
		font-size: 13px;
		color: #2e2b29;
	}
	#entry .entry-Left-sec03-p3 input[type="checkbox"] {
		display: none;
	}
	#entry .entry-Left-sec03-p3 input[type="checkbox"] + label::before {
		width: 18px;
		height: 18px;
		line-height: 4px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		content: url(../img/entry_check_img.png);
		padding: 4px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		background: #ffffff;
		margin: -3px 5px 0 0;
		-webkit-transition: .1s;
		transition: .1s;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
	}
	#entry .entry-Left-sec03-p3 input[type="checkbox"]:checked + label::before {
		font-size: 25px;
		background: #323232 !important;
		color: #ffffff !important;
		border: none;
	}
	#entry .entry-Left-sec04 {
		width: 100%;
		float: left;
		padding-top: 12px;
		margin-bottom: -7px;
	}
	#entry .entry-Left-sec04 li {
		width: 100%;
		float: left;
		padding-right: 0;
		padding-bottom: 10px;
	}
	#entry .entry-Left-sec04 li label {
		font-size: 13px;
		color: #2e2b29;
	}
	#entry .entry-Left-sec04 input[type="radio"] {
		display: none;
	}
	#entry .entry-Left-sec04 input[type="radio"] + label::before {
		width: 14px;
		height: 14px;
		display: inline-block;
		content: "";
		border-radius: 17px;
		vertical-align: middle;
		border: 2px solid #dddddd;
		margin: -2px 5px 0 0;
		-webkit-transition: .1s;
		background-color: #ffffff;
	}
	#entry .entry-Left-sec04 input[type="radio"]:checked + label::before {
		background-color: #323232 !important;
		box-shadow: inset 0 0 0 3px #fff;
	}
	#entry .entry-Left-sec05 {
		width: 100%;
		float: left;
		text-align: center;
		padding: 10px 0 10px;
	}
	#entry .entry-Left-sec05 img {
		max-width: 100%;
	}
	#entry .listTopic {
		border-top: 2px solid #dad6d6;
		font-size: 22px;
		background: url(../img/entry-bg-off.png) no-repeat 7px 0;
		height: 50px;
		background-size: 410px
	}
	#entry div.open {
		background: url(../img/entry-bg-on.png) no-repeat 7px 0;
		background-size: 410px
	}
	#entry .listTopic h2 {
		padding-top: 19px;
		font-size: 15px;
	}
	#entry .listTopic span {
		width: 41px;
		text-align: center;
		display: inline-block;
		padding: 0 8px 0 3px;
		color: #ffffff;
		font-size: 16px;
	}
	#entry .bdrtop {
		border-top: none;
	}
	#entry .bdrbottom {
		border-bottom: 2px solid #dad6d6;
	}
	#entry span.open {
		background: #d70000;
	}
	#entry .entry04-sec01 li {
		padding: 0 0 20px 5px;
	}
	#entry .entry04-pdtop {
		padding-top: 0;
	}
	#entry .entry04-sec01 .entry04-bgli {
		background-color: #f0f0f0;
		padding: 5px 0 5px 5px;
		margin: -5px 0 15px;
	}
	#entry .entry04-sec01 li input {
		padding: 5px 5px;
	}
	#entry .entry04-select02 {
		width: 70px;
		padding: 3px 0;
	}
	#entry .entry04-sec01 .entry04-sec01-LastLi {
		width: 100%;
		padding: 0 0 20px;
	}

	/*--------------------------------------------------
	 temp
	 ---------------------------------------------------*/
	.entry-Left-con-btn {
		width: 100%;
		margin: 0 auto 20px;
	}
	.con-btn {
		width: 100%;
		margin: 0 auto;
		background-position-x: 95%;
	}

	/*--------------------------------------------------
	 Search Result
	 ---------------------------------------------------*/
	.result-main {
		width: 96%;
		padding: 2%;
	}
	.result-Left {
		width: 100%;
	}
	.result-Left-sec01 {
		padding-top: 8px;
	}
	.result-Left-sec01 h1 {
		font-size: 17px;
	}
	.result-Left-sec01-sp {
		width: 100%;
		float: left;
		margin-top: 13px;
		border: 1px solid #dcdcdc;
		border-bottom: none;
	}
	.result-comparison {
		width: 100%;
		float: left;
		margin-top: -1px;
		border: 1px solid #dcdcdc;
		border-bottom: none;
	}
	.result-Left-sec01-sp dl, .result-comparison dl {
		width: 100%;
		float: left;
	}
	.result-comparison dl dt {
		padding: 10px 10px;
		font-size: 15px;
		cursor: pointer;
		border-bottom: 1px solid #dcdcdc;
	}
	.result-comparison dl dd ul li {
		padding: 10px 0;
		font-size: 15px;
		margin: 0 10px;
		border-bottom: 1px dotted #dcdcdc;
	}
	.result-comparison dl dd ul li p {
		width: 90%;
		float: left;
		padding: 1% 1% 0 0;
	}
	.result-comparison dl dd ul li a {
		color: #2e2b29;
		text-decoration: none;
	}
	.result-comparison dl dd ul li h2 {
		font-size: 13px;
		text-align: left;
		float: left;
		margin-top: 10px;
		color: #1298ac;
	}
	.result-comparison dl dd ul li span {
		padding: 10px 25px;
		font-size: 13px;
		text-align: center;
		float: right;
		background: #e0e0e0;
	}
	.result-Left-sec01-sp dl dt, .result-Left-sec01-sp dl dd ul li {
		padding: 10px 10px;
		font-size: 15px;
		cursor: pointer;
		border-bottom: 1px solid #dcdcdc;
	}
	.result-Left-sec01-sp dl dt span, .result-comparison dl dt span {
		width: 21px;
		float: right;
		height: 3px;
		background-color: #979797;
		margin-top: 6px;
	}
	.result-Left-sec01-sp dl dd, .result-comparison dl dd {
		display: none;
	}
	.result-Left-sec01-sp dl dt.active, .result-comparison dl dt.active {
		background-color: #f0f0f0;
	}
	.result-Left-sec01-sp dl dd ul li a {
		color: #2e2b29;
	}
	.order-chk {
		width: 100%;
		clear: both;
		padding: 15px 0;
	}
	.result-comparison dl dd ul.result-order {
		border-bottom: 1px solid #dcdcdc;
	}
	.result-comparison dl dd ul.result-order li {
		border-bottom: none;
	}
	.result-Left-sec01 h1 {
		font-size: 22px;
		color: #2e2b29;
	}
	.result-Left-sec01-in {
		width: 100%;
		float: left;
		padding: 10px 0 5px;
		border-bottom: 1px solid #bebebe;
	}
	.result-Left-p02-sp {
		width: 115px;
		float: right;
	}
	.result-Left-sec01-in h2 {
		font-size: 12px;
		font-weight: normal;
	}
	.result-Left-sec01-in h2 span {
		font-size: 18px;
		font-weight: bold;
		padding-right: 2px;
	}
	.result-Left-sec01-txt {
		width: 48px;
		float: right;
		padding: 3px 0 0;
	}
	.result-Left-sec01-txt h3 {
		font-size: 14px;
		color: #2e2b29;
		width: auto;
		float: left;
	}
	.result-Left-sec01-txt01 {
		width: 48px;
		background-position-y: 4px;
	}
	.result-Left-sec01-txt01 select {
		background: transparent;
		-webkit-appearance: none;
	}
	.result-Left-sec01-txt01 select {
		font-size: 13px;
	}
	.result-Left-sec02 {
		width: 100%;
		float: left;
		background-color: #ffffff;
	}
	.result-Left-sec02-p1 {
		width: 100%;
		float: left;
		padding: 19px 0 0;
	}
	.result-Left-sec02-p1-L {
		width: auto;
		float: left;
	}
	.result-Left-sec02-p1-L h3 {
		width: auto;
		float: left;
		font-size: 13px;
	}
	.result-Left-sec02-p1-L-txt01 {
		width: 90px;
	}
	.result-Left-sec02-p1-R {
		width: 130px;
		float: right;
		padding: 0;
	}
	.result-Left-sec02-p1-R h3 {
		width: auto;
		float: left;
	}
	.result-Left-sec02-p1-R ul {
		width: 51px;
		float: right;
		margin-top: -2px;
	}
	.result-Left-sec02-p1-R ul li {
		width: auto;
		height: 19px;
		float: left;
		border-right: 1px solid #d4d4d4;
		padding: 0 3px 0;
	}
	.result-Left-sec02-p1-R .result-Left-sec02-p1-R-Lli {
		border-right: none;
		padding-right: 0;
	}
	.result-left03-spRows {
		width: 130px;
	}
	.result-left03-spRows img {
		max-width: 100%;
	}
	.result-sec03-p2-in-Spp2 {
		width: 98%;
		margin: 5px auto;
	}
	.result-sec03-p2-in-Spp2 li {
		width: 100%;
		float: left;
		padding-bottom: 8px;
	}
	.result-sec03-p2-in-Spp2 li a h4 img {
		width: 12px;
		margin: 0 3px -3px 0;
	}
	.result-sec03-p2-in-Spp2 li a h4 {
		font-size: 12px;
		text-align: center;
	}
	.result-sec03-p2-in-Spp2 li a {
		color: #ff6c00;
	}
	.grid .result-Left-sec03, .list .result-Left-sec03 {
		width: 100%;
		float: left;
		border-bottom: 1px solid #bebebe;
		padding-bottom: 0;
	}
	.list .result-Left-sec03 {
		border-bottom: 0;
	}
	/*--List view--*/
	.list .result-Left-sec03-rows {
		width: 100%;
		float: left;
		padding: 21px 0 16px;
		border-bottom: 1px solid #bebebe;
	}
	.list .result-Left-sec03-rows-L {
		width: 38%;
		float: left;
		border: 1px solid #dcdcdc;
	}
	.list .result-Left-sec03-rows-L img {
		max-width: 84%;
		margin: 0 auto;
		padding: 11px 0;
	}
	.list .result-Left-sec03-rows-R {
		width: 58%;
		padding-left: 8px;
	}
	.list .result-Left-sec03-rows-R p {
		font-size: 12px;
		width: 100%;
		float: left;
		padding-top: 0;
	}
	.list .result-Left-sec03-rows-R h2 {
		font-size: 14px;
		padding-top: 8px;
		text-align: center;
	}
	.list .result-Left-sec03-rows-R-02 {
		float: left;
		padding-top: 0;
	}
	.list .result-sec03-TextForList {
		display: block;
	}
	.list .result-sec03-TextForList a {
		text-decoration: none;
		color: #008dcf;
		padding-left: 3px;
	}
	/*--Grid view--*/
	.grid .result-Left-sec03-rows {
		width: 49%;
		padding: 13px 0 0;
		margin: 0;
	}
	.grid .result-Left-sec03-rows-L {
		width: 100%;
		border: 1px solid #dcdcdc;
		padding-bottom: 0;
		margin-bottom: 5px;
	}
	.grid .result-Left-sec03-rows-L img {
		max-width: 83%;
		margin: 0 auto;
		padding: 8% 0;
	}
	.grid .result-Left-sec03-rows-right {
		float: right;
		margin-right: 0;
	}
	.grid .result-Left-sec03-rows-R {
		width: 100%;
		padding-left: 0;
		margin: 0 auto;
	}
	.grid .result-Left-sec03-rows-R p {
		font-size: 12px;
	}
	.grid .result-Left-sec03-rows-R h2 {
		font-size: 14px;
		color: #950513;
		padding: 6px 0;
		text-align: center;
	}
	.grid .result-Left-sec03-rows-R-02 {
		float: left;
		margin-top: 0;
		width: 100%;
	}
	.grid .result-Left-sec02-p2-in-L {
		margin-right: 0;
	}
	.grid .result-sec03-TextForList {
		display: none;
	}

	.result-Left-sec03-noresult {
		width: 100%;
		float: left;
		font-size: 18px;
		color: #555555;
		padding: 29px 0 54px;
	}
	.result-Right {
		width: 215px;
		float: right;
		padding-top: 16px;
	}
	.result-Right-sec02 {
		width: 100%;
		padding: 14px 0 11px;
		clear: both;
	}
	.result-Left-Lsec-sp {
		margin-bottom: 15px;
	}
	#search-result .aside-news.conpare.clearfix dl {
		border-bottom: 1px solid #dcdcdc;
	}
	
	/*--------------------------------------------------
	 News Detail
	 ---------------------------------------------------*/
	#news-detail {
		width: 96%;
		float: none;
		margin: 0 auto;
	}
	#news-detail .result-Left {
		width: 100%;
		float: left;
	}
	#news-detail .result-Left-sec01-in span {
		width: auto;
		float: left;
		font-size: 16px;
		padding-top: 10px;
	}
	.detail-sec01 {
		width: 99.8%;
		height: auto;
	}
	.detail-sec01 .title {
		font-size: 18px;
		font-weight: bold;
		padding: 15px 10px;
		background: #f0f0f0;
	}
	.detail-sec01-para {
		width: 99.8%;
		height: auto;
	}
	.detail-sec01-para p {
		width: 96%;
		height: auto;
		padding: 20px 0 10px 10px;
	}
	.detail-sec01-para .btn-sec {
		width: 100%;
		height: auto;
		padding: 11px 0px 0;
		text-align: center;
	}
	.detail-sec01-para .btn-sec span {
		width: 95%;
		margin: 0 auto;
		padding: 10px 0;
	}
	.detail-sec01 .plugin {
		width: 97%;
		margin: 0 auto;
	}
	.cateList {
		width: 99.8%;
		height: auto;
		margin: 15px auto 10px;
		float: left;
		border: 1px solid #dcdcdc;
	}
	#news-detail .cateList dl dt {
		padding: 15px 10px;
		background-image: url(../img/icon_arrow02.png);
		background-position: right 10px center;
		background-repeat: no-repeat;
		background-size: 37px 20px;
		font-size: 18px;
		font-weight: bold;
		color: #333333;
		background-color: #f0f0f0;
	}
	#news-detail .cateList dl dt.active {
		padding: 15px 10px;
		background-image: url(../img/icon_arrow01.png);
		background-position: right 10px center;
		background-repeat: no-repeat, no-repeat;
		background-size: 37px 20px;
		font-size: 18px;
		font-weight: bold;
		color: #333333;
		background-color: #f0f0f0;
	}
	.cateList ul {
		width: 100%;
		margin: 10px 0;
	}
	.cateList ul li {
		width: 90%;
		padding: 10px;
	}
	.cateList ul li a {
		color: #1298ac;
	}

	/*--------------------------------------------------
	 Mail-magazine
	 ---------------------------------------------------*/
	.mail-folow {
		width: 100%;
		margin: 0 auto;
	}
	.mail-magazine {
		width: 99.5%;
		float: left;
		background-color: #ffffff;
		margin: 20px 0 15px;
	}
	.magazine-sec01 {
		width: 93%;
		text-align: center;
		margin: 10px auto 12px;
	}
	.magazine-sec01 img {
		width: 65%;
	}
	.magazine-sec01-border {
		border-bottom: 1px solid #3f3833;
		margin-top: -10px;
	}
	.magazine-sec03 {
		width: 260px;
		margin: 20px auto;
		border: 1px solid #cccccc;
		border-radius: 2px;
	}
	.magazine-sec03 input {
		border: none;
		color: #888888;
		width: 208px;
		float: left;
		height: 25px;
		padding: 0 0 0 5px;
		font-size: 12px;
	}
	.magazine-sec03 p {
		width: 52px;
		float: right;
		margin-top: -26px;
		height: 28px;
		line-height: 28px;
		clear: both;
		font-size: 12px;
	}
	/*--------------------------------------------------
	 Follow Us
	 ---------------------------------------------------*/
	.followUs {
		width: 99.5%;
		margin: 0 auto;
		float: left;
	}
	.followUs-sec01 img {
		width: 50%;
		margin-bottom: -1px;
	}
	.followUs-sec02 {
		width: 100%;
		float: left;
		text-align: center;
		padding: 15px 0 0;
	}
	.followUs-sec02-in {
		width: 286px;
		margin: 0 auto;
	}
	.followUs-sec02 .social {
		width: 27px;
		height: 27px;
		float: left;
		margin: 0 10px 0 0;
		line-height: 30px;
		font-family: Entypo;
		font-size: 19px;
		text-align: center;
		color: #eee;
		border-radius: 27px;
		background: #555;
		overflow: hidden;
		cursor: pointer;
	}
	.followUs-sec02 .social a {
		color: #eee;
	}
	.followUs-sec02 .social-last {
		margin-right: 0;
	}
	#product .followUs-sec02-in {
		margin-top: 0;
		width: 273px;
		padding: 0 0 20px;
	}
	#product .social {
		width: 25px;
		height: 25px;
		margin-right: 10px;
		font-size: 19px;
		line-height: 27px;
	}
	#product .social-last {
		margin-right: 0;
	}
	/* ------------------------------------------------
	 Footer
	 ------------------------------------------------ */
	.footerSp {
		width: 100%;
		float: left;
		padding-top: 0;
	}
	.footerSp dl {
		width: 100%;
		float: left;
		border-bottom: 2px solid #91908f;
		color: #ffffff;
	}
	.footerSp dt {
		padding: 10px 20px;
		cursor: pointer;
	}
	.footerSp dd {
		display: none;
	}
	.footerSp dd ul {
		padding-bottom: 5px;
	}
	.footerSp dd li {
		padding: 5px 30px;
	}
	.footerSp dd li a {
		color: #ffffff;
	}
	.footerSp-CpRight {
		color: #d5d5d5;
		width: 100%;
		float: left;
		background-color: #5d5a59;
		padding: 15px 0;
		text-align: center;
	}
	/*--------------------------------------------------
	 to top
	 ------------------------------------------------ */
	.top-arrow {
		width: 40px;
		height: 40px;
		opacity: 0.5;
		margin: 10px 0;
	}
	.top-arrow img {
		max-width: 100%;
	}

}

@media only screen and (max-width: 480px) {
	#search-text-input {
		margin: 0 0 0 7px;
		width: 79%;
		height: 20px;
	}
	#button-holder {
		height: 32px;
		margin: 0px 0 0 0;
		text-align: left;
		border-radius: 0 3px 3px 0;
	}
}

@media only screen and (min-width: 400px) and (max-width: 640px) {
	#product .jssor-6-col01 {
		background-size: 100% 100%;
	}
	#product .jssor-6-col01 p {
		font-size: 14px;
		padding-left: 10px;
		line-height: 80px;
	}
}