.container{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 295px !important;
    background: #fff;
    overflow: hidden;
    margin-top: 15px;
}
.slides_con{
    cursor: move; 
    position: absolute; 
    left: 0px; 
    top: 30px;
    width: 98% !important;
    height: 245px;
    border: 1px solid #cecece; 
    -webkit-filter: blur(0px); 
    background-color: #fff; 
    overflow: hidden;
}
.slides_con_sec01{
    margin: 10px; 
    overflow: hidden; 
    color: #000;
}
.thumb_navi{
    position: absolute; 
    width: 100% !important; 
    height: 30px; 
    left:0px; 
    top: 0px;
}
.thumb_item{
    cursor: move;
    top: 0px;
    left: 0px !important;
    width: 98.1% !important;
    border: none;
    border: 1px solid #cecece;
    border-left: none;
    background-color: #f2f2f2;
    border-bottom: none;
}
.thumb_item_sec01{
    position: absolute; 
    width: 110px; 
    height: 47px; 
    top: 0; 
    left: 0; padding:0px;
}
.thumb_item_sec02{
    width: 100%; 
    height: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    line-height:28px; 
    text-align:center;
}
.thumb_navi_a{
    display: none
}

.jssort12 .w, .jssort12 .phv .w
{
    cursor: pointer;
    position: absolute;
    WIDTH: 110px;
    HEIGHT: 47px;
    border-left: 1px solid #cecece;
    top: 0px;
    left: 0;
}
#slide-0 {
    width: 110px;
    height: 47px;
}
.jssort12 .w h2 {
    width: 100%;
}
.jssort12 .pav .w, .jssort12 .pdn .w
{
    border-bottom: 1px solid #fff;
}
.jssort12 .c
{
    color: #000;
    font-size:13px;             	
}
.jssort12 .pav .c, .jssort12 .p:hover .c, .jssort12 .phv .c
{
    background-color:#fff;
}
            